@charset "UTF-8";

@font-face {
  font-family: "IconFont";
  src:url("fonts/iconfont.eot");
  src:url("fonts/iconfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/iconfont.woff") format("woff"),
    url("fonts/iconfont.ttf") format("truetype"),
    url("fonts/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "IconFont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "IconFont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\63";
}
.icon-home:before {
  content: "\64";
}
.icon-cmd:before {
  content: "\65";
}
.icon-painter:before {
  content: "\66";
}
.icon-palette:before {
  content: "\68";
}
.icon-zoom-in:before {
  content: "\6b";
}
.icon-zoom-out:before {
  content: "\6c";
}
.icon-home-alt:before {
  content: "\6d";
}
.icon-mail:before {
  content: "\6e";
}
.icon-at-sign:before {
  content: "\6f";
}
.icon-cc-sa:before {
  content: "\70";
}
.icon-cc-pd:before {
  content: "\71";
}
.icon-cc-nc:before {
  content: "\72";
}
.icon-cc:before {
  content: "\73";
}
.icon-cc-by:before {
  content: "\74";
}
.icon-photoshop:before {
  content: "\75";
}
.icon-pen-tool:before {
  content: "\76";
}
.icon-illustrator:before {
  content: "\77";
}
.icon-cc-nc-jp:before {
  content: "\61";
}
.icon-cc-nc-eu:before {
  content: "\62";
}
.icon-cc-nd:before {
  content: "\6a";
}
.icon-cc-remix:before {
  content: "\78";
}
.icon-terminal:before {
  content: "\67";
}
.icon-paintcan:before {
  content: "\69";
}
.icon-key:before {
  content: "\41";
}
.icon-design-1:before {
  content: "\79";
}
