---
key: 9
title: Archive
permalink: /archive/
options: fullwidth, nomenu
desc: An archive of my blog posts
image: blog.jpg
style-includes:
  - blog.css
sitemap:
  priority: 0.5
---

<div id="archive">
  <ul>
  {% assign current = 'now' | date: "%Y" %}
  {% for post in site.posts %}
    {% assign year = post.date | date: "%Y" %}
    {% if post == site.posts.first %}
      <h5 class="year">{{ year }}</h5>
    {% elsif year != current %}
      {% assign current = year %}
      <hr/><h5 class="year">{{ year }}</h5>
    {% endif %}
    <li class="archive-post">
      <p class="date-container"><span class="date">{{ post.date | date: "%d %b" }}</span></p>&nbsp;
      <a class="post-link" href="{{ post.url }}">
        <b class="title">{{ post.title }}</b>&nbsp;
        {{ post.description | strip_html | truncate: 64 }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
