---
key: 3
title: Blog
permalink: /blog/
options: fullwidth
desc: A place to share updates on the projects I'm working on, as well as helpful tools and tutorials relating to software development and design.
image: blog.jpg
style-includes:
  - blog.css
pagination: 
  enabled: true
  permalink: 'page:num/'
sitemap:
  priority: 0.9
---

{% include overlay.html %}
<section id="blog" class="wrapper alt style6">
  <div class="blog-container">
    <section class="blog-main">
      {% if site.posts %}
        <div class="card-list">
        {% for post in paginator.posts %}
          <div class="blog-card" onclick="location.href='{{ post.url | prepend: site.baseurl }}';" style="background-image: url({{ post.image | prepend: '/assets/img/posts/' | prepend: site.baseurl }})">
            <div class="content-mask">
              {% for tag in post.tags limit: 1 %}
                {% assign tag_id = tag | prepend: "#" | append: "-tag" | slugify %}
                <span class="card-category {{ tag | slugify }}"><a href="{{ tag_id | prepend: '/tags/#' }}">{{ tag | capitalize }}</a></span>
              {% endfor %}
              <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p>{{ post.description | strip_html | truncatewords: 25, "..." }}</p>
              <div class="card-detail clearfix">
                <span class="card-date"><i class="far fa-calendar-alt"></i><span>{{ post.date | date: "%d %B %Y" }}</span></span>
              </div>
            </div>
            <div class="horizontal"></div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </section>
    <div class="sidebar">
      <div class="sidebar-icons">
        <a class="search-button"><span class="search-button fas fa-fw fa-search"></span></a>
        <a href="{{ '/tags' }}"><span class="fas fa-fw fa-tags"></span></a>
        <a href="{{ '/archive' }}"><span class="fas fa-fw fa-archive"></span></a>
      </div>
      <hr>
      <div class="sidebar-tags sidebar-block">
        {% popular_tags 10 %}
      </div>
    </div>
    {% if paginator.total_pages > 1 %}
      <div class="pagination-container">
        {% include page-nav.html %}
      </div>
    {% endif %}
  </div>
</section>
