---
key: 3
title: Blog
permalink: /blog/
options: fullwidth
desc: A place to share updates on the projects I'm working on, as well as helpful tools and tutorials relating to software development and design.
image: writer.jpg
background-image: writer.jpg
sitemap:
  priority: 0.9
---

{% if site.posts %}
  {% if site.tags.featured %}
  <section id="blog" class="wrapper alt style6">
    <div class="inner">
      <header class="major"><h2>Featured</h2></header>
    </div>
    <ul class="post-list">
    {% assign sorted_posts = site.posts | sort: 'key' %}
    {% for post in sorted_posts %}
      {% if post.tags contains "featured" %}
        {% capture post_thumb %}{% file_exists {{ post.image | prepend: '/images/posts/thumbnails/' | prepend: site.baseurl }} %}{% endcapture %}
        <li>
          <section class="featured-box">
            <a href="{{ post.url | prepend: site.baseurl }}" class="image featured">
              {% if post_thumb %}
                <img src="{{ post.image | prepend: '/images/posts/thumbnails/' | prepend: site.baseurl }}" alt="{{ post.title }}"/>
              {% else %}
                <img src="{{ post.image | prepend: '/images/posts/' | prepend: site.baseurl }}" alt="{{ post.title }}"/>
              {% endif %}
            </a>
            <div class="content">
              <p class="featured-title">{{ post.title }}</p>
              <p class="featured-desc">
                {{ post.desc | strip_html | truncatewords: 12 }}
              </p>
            </div>
            <div class="footer">
              <a href="{{ post.url | prepend: site.baseurl }}" class="featured-button">More...</a>
            </div>
          </section>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  <div id="search">
    {% include search.html %}
  </div>

  <div id="archive">
    <ul>
    {% assign p = 'now' | date: "%Y" %}
    {% for post in site.categories.blog %}
      {% assign n = post.date | date: "%Y" %}
      {% if n != p %}
        {% assign p = n %}
        <br/><hr/><h5 class="year">{{ n }}</h5>
      {% endif %}
      <li class="archive-post">
        <p class="date-container"><span class="date">{{ post.date | date: "%b %d" }}</span></p>&nbsp;
        <a class="post-link" href="{{ post.url }}">
          <b class="title">{{ post.title }}</b>&nbsp;
          {{ post.desc | strip_html | truncatewords: 12 }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
