---
key: 2
title: Designer
permalink: /design
redirect-from: /designer/
options: fullwidth
desc: As a designer, my primary focus is in UI/UX and graphic design, where I utilize tools such as Adobe Illustrator, Photoshop, Cinema 4D, as well as various web-based languages, preprocessors, and frameworks.
image: design.jpg
background-image: design.jpg
sitemap:
  priority: 0.9
---

<section id="designer" class="wrapper special">
  <section id="about" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>About</h2>
        <p>{{ page.desc }}</p>
      </header>
      <!-- <ul class="icons major">
        <li><span class="icon icon-font major style3"><span class="ico-pen-tool"></span></span></li>
        <li><span class="icon icon-font major style3"><span class="ico-paintcan"></span></span></li>
        <li><span class="icon icon-font major style3"><span class="ico-brackets"></span></span></li>
      </ul> -->
    </div>
  </section>
  <!-- <section class="wrapper style3 special" style="padding:0">
  {% for section in site.data.designer %}
    <section class="spotlight">
      <div class="image">
        <img src="{% if section.image %}/images/designs/{{ section.image }}{% endif %}" alt="{{ section.title }}"/>
      </div>
      <div class="content">
        <div class="title">
          <h2>{{ section.title }}</h2>
        </div>
        <div class="desc">
          <p>{{ section.desc | markdownify | strip_html | strip_newlines | escape_once }}</p>
        </div>
      </div>
    </section>
  {% endfor %}
  </section> -->
  <div id="three" class="wrapper style2 special angled">
    <div class="inner">
      <header class="major">
        <h2>Gallery</h2>
      </header>
      <div class="design-tiles tile-container">
        {% for design in site.data.designs %}
          {% if design.image %}
          <div class="tile">
            <img title="{{ design.title }}" src="{{ design.image | prepend: '/images/designs/' | prepend: baseurl }}" alt="{{ design.title }}"/>
            <div class="mask" title="{{ design.title }}" desc="{{ design.desc | markdownify | strip_html | strip_newlines | escape_once }}" data-mfp-src="{{ site.baseurl }}{% if design.image %}/images/designs/{{ design.image }}{% else %}banner.jpg{% endif %}">
              <h4>{{ design.title }}</h4>
              <p>{{ design.desc | markdownify | strip_html | strip_newlines | escape_once }}</p>
              <a class="button special info" href="{{ site.baseurl }}{% if design.image %}/images/designs/{{ design.image }}{% else %}banner.jpg{% endif %}" data-full="{% if design.image %}{{ design.image | prepend: '/images/designs/' | prepend: baseurl }}{% endif %}" style="padding:6px 25px;">View</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <section id="four" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>Want to see more?</h2>
        <p>Check out more of my work on other platforms or contact me for more information.</p>
      </header>
      <ul class="actions vertical">
        <li><a href="{{ site.social.deviantart }}" class="button fit special">See More</a></li>
        <li><a href="{{ '/contact/' | prepend: site.baseurl }}" class="button fit">Contact</a></li>
      </ul>
    </div>
  </section>
</section>
