---
key: 1
title: Developer
permalink: /dev
redirect-from: /developer/
options: fullwidth
desc: As a developer, I have experience working in both front and back-end development and enjoy experimenting with new frameworks and platforms, while striving to create tools that myself and others can enjoy.
image: dev.jpg
background-image: dev.jpg
sitemap:
  priority: 0.9
---

<script src="https://JonSn0w.github.io/github-buttons/buttons.js"></script>
<!-- <script>
function($) {
  $(document).ready(function() {
    resize_to_fit();
  });
  function resize_to_fit() {
    var fontsize = $('.title h3').css('font-size');
    $('.title h3').css('fontSize', parseFloat(fontsize) - 1);

    if($('.title h3').height() >= $('.title').height()) {
      resize_to_fit();
    }
  }
}
</script> -->
<section id="developer" class="wrapper special">
  <section id="about" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>About</h2>
        <p>{{ page.desc }}</p>
      </header>
      <section id="dev-calendar">
        <script src="{{ '/js/github-calendar.min.js' | prepend: site.baseurl }}"></script>
        <div class="calendar">
          Loading contribution data...
        </div>
        <script>GitHubCalendar(".calendar", "JonSn0w");</script>
      </section>
    </div>
  </section>
  <section id="three" class="wrapper style2 special">
    <div class="inner">
      <header class="major">
        <h2>Projects</h2>
      </header>
      <div class="project-tiles">
      {% for project in site.data.projects %}
        <div class="tile">
          <img alt="{{ project.title }}" src="{{ site.baseurl }}{% if project.image %}/images/projects/{{ project.image }}{% else %}banner.jpg{% endif %}" data-full="{{ site.baseurl }}{% if project.image %}/images/projects/{{ project.image }}{% else %}banner.jpg{% endif %}"/>
          <div class="mask">
            <h4>{{ project.title }}</h4>
            <p>{{ project.desc | markdownify | strip_html | strip_newlines | escape_once }}</p>
            <!-- <awesome-button href="{{ site.baseurl }}{% if project.permalink %}{{ project.permalink }}{% else %}{{ project.repo }}{% endif %}">More</awesome-button> -->
            <a class="button special info" href="{{ site.baseurl }}{% if project.permalink %}{{ project.permalink }}{% else %}{{ project.repo }}{% endif %}">Read More</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
  
<!-- </section> -->
  <section id="four" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>Want to see more?</h2>
        <p>Check out more of my projects and contributions on GitHub or contact me for more information.</p>
      </header>
      <ul class="actions vertical">
        <li><a href="{{ site.social.github }}" class="button fit special">GitHub</a></li>
        <li><a href="{{ '/contact/' | prepend: site.baseurl }}" class="button fit">Contact</a></li>
      </ul>
    </div>
  </section>
</section>
