---
title: "Tags"
permalink: /tags/
description: "Take a look at my beautiful tags."
options: fullwidth, nomenu, nolanding, nobreadcrumb
image: bark.jpg
background-image: bark.jpg
---

<div class="tags">
  <section class="tags-list">
  {% assign tags_list = site.tags %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
        <a class="tag-entry" data-scroll href="#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
        <a class="tag-entry" data-scroll href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
      {% endfor %}
    {% endif %}
  {% assign tags_list = nil %}
  </section>

  <section class="tags-content">
  {% for tag in site.tags  %}
    <span class="tag-title tag-entry" id="{{ tag[0] | slugify }}">{{ tag[0] }}</span>
    <ul class="tag-posts">
      {% assign pages_list = tag[1] %}
      {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
            <li><a class="post-link" href="{{ site.url }}{{ post.url }}">
              <b class="title">{{ post.title }}</b>&nbsp;
              {{ post.desc | strip_html | truncatewords: 10 }}
              <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
            </a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
    </ul>
  {% endfor %}
  </section>
</div>
