<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <title>{% if page.title %}{{ page.title }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.desc %}{{ page.desc | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% seo %}

  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <!-- <link rel="stylesheet" href="{{ '/assets/fonts/Avenir-Next/AvenirNext.min.css' | prepend: site.baseurl }}"/> -->
  <!-- <link rel="stylesheet" href="{{ '/assets/fonts/Gotham-HTF/GothamHTF.min.css' | prepend: site.baseurl }}"/> -->
  <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/tooltipster.bundle.min.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.min.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}"/>

  {% if page.image %}
    {% assign first_char = page.image | slice: 0 %}
    {% if first_char == '/' %}
      {% assign second_char = page.image | slice: 1 %}
      {% if second_char == '/' %}
        {% assign imageurl = page.image %}
      {% else %}
        {% assign imageurl = page.image | prepend: site.baseurl %}
      {% endif %}
    {% else %}
      {% assign imageurl = page.image | prepend: "/assets/img/" | prepend: site.baseurl %}
    {% endif %}
  <style>
    #main > header {
      background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ imageurl }}");
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ imageurl }}");
      background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ imageurl }}");
      background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ imageurl }}");
    }
  </style>
  {% endif %}
  {% if page.style-includes %}
    {% for include in page.style-includes %}
      {% assign test1 = include | slice: 0,2 %}
      {% if test1 == "//" %}
        <link rel="stylesheet" href="{{ include }}"/>
      {% else %}
        <link rel="stylesheet" href="{{ include | prepend: site.baseurl }}"/>
      {%endif %}
    {% endfor %}
  {% endif %}

  {% if page.style %}
    <style>
      {{ page.style }}
    </style>
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"/>
</head>
