
<header id="header" {% if page.layout == 'landing' %} class="landing alt" {% elsif page.layout == 'post' %} class="alt {% if page.options contains 'readme' or page.title contains 'resume' %}dark{% endif %}"{% endif %} style="z-index:999999">
  {% if page.layout == 'post' %}
    <a class="back-post" href="{{ '/blog' | prepend: site.baseurl }}"><i class="fas fa-chevron-left"></i><span class="animated fadeIn">Back to Blog</span></a>
  {% else %}
    <h1><a href="{{ '/index.html' | prepend: site.baseurl }}">  
    {% if site.logo %}
      <img class="header-logo" src="{{ site.logo | prepend: site.baseurl }}" alt="logo"/><span class="animated fadeIn">Brett Stevenson</span>
    {% else %}
      {{ site.title }}
    {% endif %}
    </a></h1>
  {% endif %}
  <nav id="nav">
    <ul>
      <li class="special">
        {% include menu.html %}
      </li>
    </ul>
  </nav>
</header>
