
<header id="header" {% if page.layout == 'landing' %} class="landing alt" {% elsif page.options contains 'readme' %} class="readme" {% elsif page.layout == 'post' %}{% unless page.options contains 'readme' %} class="alt" {% endunless %}{% endif %}>
  <h1><a href="{{ '/index.html' | prepend: site.baseurl }}">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        {% if page.layout == 'landing' %}
          <div id="menu-alt" class="landing-menu">
            <ul class="menu-page-list">
              <li class="menu-page-link"><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
              {% assign sorted_pages = site.pages | sort: 'key','last' %}
              {% for my_page in sorted_pages %}
                {% if my_page.title %}
                  {% unless my_page.options contains 'nomenu' or my_page.title == 'Contact' %}
                  <li class="menu-page-link"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                  {% endunless %}
                {% endif %}
              {% endfor %}
              <!-- <li class="menu-page-link"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-feed"></i> RSS Feed</a></li> -->
            </ul>
          </div>
        {% endif %}
        {% if page.layout != 'landing' %}
        <a class="menu-toggle" id="menuToggle" href="#menu"><span></span></a>
        <div id="menu" {% if page.layout == 'post' %} class="post-menu" {% elsif page.layout == 'landing' %} class="landing-menu" {% endif %}>
          <ul class="menu-page-list">
            <li class="menu-page-link"><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
            {% assign sorted_pages = site.pages | sort: 'key','last' %}
            {% for my_page in sorted_pages %}
              {% if my_page.title %}
                {% unless my_page.options contains 'nomenu' %}
                <li class="menu-page-link"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endunless %}
              {% endif %}
            {% endfor %}
            <!-- <li class="menu-page-link"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-feed"></i> RSS Feed</a></li> -->
          </ul>
        </div>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>
