<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="{{ '/js/radar-chart.js' | prepend: site.baseurl }}"></script>	
<script>
  
  /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */
  
	////////////////////////////////////////////////////////////// 
	//////////////////////// Set-Up ////////////////////////////// 
	////////////////////////////////////////////////////////////// 
	var margin = {top: 50, right: 75, bottom: 50, left: 75},
		width = Math.min(350, window.innerWidth - 10) - margin.left - margin.right,
		height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 10);
			
	////////////////////////////////////////////////////////////// 
	////////////////////////// Data ////////////////////////////// 
	////////////////////////////////////////////////////////////// 
	var data = [
			  [//Skills
				{axis:"Java",value:0.45},
				{axis:"Lua",value:0.28},
				{axis:"Python",value:0.42},
				{axis:"Javascript",value:0.35},
				{axis:"Perl",value:0.25},
				{axis:"Web Dev",value:0.35},	
				{axis:"Bash",value:0.22},
				{axis:"C++",value:0.375}
			],[//Progress
				{axis:"Java",value:0.15},
				{axis:"Lua",value:0.25},
				{axis:"Python",value:0.3},
				{axis:"Javascript",value:0.46},
				{axis:"Perl",value:0.12},
				{axis:"Web Dev",value:0.38},	
				{axis:"Bash",value:0.31},
				{axis:"C++",value:0.15}
			  ]
				// ,[//Nokia Smartphone
				// {axis:"Battery Life",value:0.26},
				// {axis:"Brand",value:0.10},
				// {axis:"Contract Cost",value:0.30},
				// {axis:"Design And Quality",value:0.14},
				// {axis:"Have Internet Connectivity",value:0.22},
				// {axis:"Large Screen",value:0.04},
				// {axis:"Price Of Device",value:0.41},
				// {axis:"To Be A Smartphone",value:0.30}
			  // ]
			];
	////////////////////////////////////////////////////////////// 
	//////////////////// Draw the Chart ////////////////////////// 
	////////////////////////////////////////////////////////////// 
	// var color = d3.scale.ordinal()
	// 	.range(["#EDC951","#CC333F","#00A0B0"]);
	var color = d3.scale.ordinal()
		.range(["#60bac7","#d74246","#00ffcc"]);
		
	var radarChartOptions = {
	  w: width,
	  h: height,
	  margin: margin,
	  maxValue: 0.5,
	  levels: 5,
	  roundStrokes: true,
	  color: color
	};
	//Call function to draw the Radar chart
	RadarChart(".radarChart", data, radarChartOptions);
</script>
