<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js" async></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}" type="text/javascript" async></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" type="text/javascript" async></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.poptrox/2.5.1/jquery.poptrox.min.js"></script> -->

<script>window.FontAwesomeConfig = { searchPseudoElements: true }</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

<script>
  $('.mid-content .inner').click(function() {
    window.location = $(this).attr('data-link');
    return false;
  });
</script>

<!-- <script>
  import SweetScroll from 'sweet-scroll';
  document.addEventListener("DOMContentLoaded", () => {
    const sweetScroll = new SweetScroll({ trigger: '.scroll-btn' });
  }, false);
</script> -->

{% if page.layout == "post" %}
  <script src="{{ '/assets/js/scroll-top.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/tooltipster.js' | prepend: site.baseurl }}"></script>
  <script>
    $('.written-content').children('img').each(function() {
      $(this).attr('class','post-img')
      $(this).attr('data-mfp-src',$(this).attr('src'))
      $(this).attr('data-full',$(this).attr('src'))
      $(this).attr('desc',$(this).attr('alt'))
      $(this).attr('data-effect','mfp-zoom-in')
    });
  </script>
  <script>
    $(function() {
      clip = $('<img />').attr({'class':'clipboard tooltip', 'src':'/assets/img/clipboard.png', 'alt':'Copy to clipboard', 'title':'Copied to clipboard' });
      $('pre.highlight').append(clip);
      $(".tooltip").tooltipster({
        animation: "fade",
        trigger: "click",
        delay: 200
      });
      $('pre.highlight .clipboard').on('click', function(e) {
        e.preventDefault();
        var temp = document.createElement('input');
        temp.setAttribute('value', $(this).parent().children('code').text()),
        document.body.appendChild(temp),
        temp.select(),
        document.execCommand('copy'),
        document.body.removeChild(temp)
      })
    });
    
    $('.share-button').on('click', function() {  
      $(this).addClass('open');
    });
    $('.share-items').draggable({ 
      axis: 'x',
      containment: '.share-items-wrapper'
    });
    $('.share-item').on('click', function() {
       $('.share-button').addClass('shared');
       setTimeout(function() {
        $('.share-button').addClass('thankyou');
      }, 800);
      setTimeout(function() {
        $('.share-button').removeClass('open');
        $('.share-button').removeClass('shared');
        $('.share-button').removeClass('thankyou');
      }, 2500);
    });
  </script>
{% endif %}

{% if page.title == "Contact" %}
  <script src="{{ '/assets/js/jquery.validate.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    $("#sendemail").validate({
      rules: {
        country: {
          required: true,
          equalTo: "#type3"
        }
      },
      messages: {
        country: "Specify a three-letter lowercase name."
      }
    });
  </script>
{% endif %}

<!-- Show menu overlay + Jekyll Simple Search option -->
<script src="{{ '/assets/js/jekyll-search.js' | prepend: site.baseurl }}" type="text/javascript"></script>
<script>
  $(document).ready(function() {
    $('.search-field').simpleJekyllSearch({
      jsonFile: '{{ site.baseurl }}/search.json',
      template: '<li><a href="{{ site.baseurl }}{url}">{title} <span class="entry-date"><time datetime="{date}">{shortdate}</time></span></a></li>',
      searchResults: '.search-wrapper .results',
      searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a></li>',
      searchResultsTitle: '<h4>Results</h4>',
      noResults: '<p>No results found</p>',
      exclude: ['Welcome']
    });
  });
  
  (function($, window, undefined) {
    var closeOverlay = function() {
      $('.nav-wrapper, .search-wrapper').removeAttr('style');
      $('.nav-form, .search-form').removeClass('active');
      $('body').removeClass('nav-overlay search-overlay');
    };
    $('.btn-search').on('click', function() {
      $('.search-wrapper').css({ display: 'block' });
      $('.search-form').addClass('active');
      $('.search-form').find('input').focus();
      $('body').addClass('search-overlay');
    });
    $('.search-wrapper .btn-close').on('click', function() {
      closeOverlay();
    });
    $(document).on('keyup', function(e) {
      if (e.keyCode === 27) {
        closeOverlay();
      }
    });
  })(jQuery, window);
</script>

{% for include in page.script-includes %}
  {% assign test = include | slice: 0,2 %}
  {% if test == "//" %}
    <script src="{{ include }}"></script>
  {% else %}
    <script src="{{ include | prepend: site.baseurl }}"></script>
  {% endif %}
{% endfor %}
{% if page.script %}
  <script>
  {{ page.script }}
  </script>
{% endif %}
{% comment %}{% if jekyll.environment == "production" %}
  <script src='assets/js/analytics.js'></script>
{% endif %}{% endcomment %}
