<div class="share-button">
  <div class="lid"><span class="fas fa-share-alt" title="Share"></span></div>
  <div class="share-items-wrapper">
      <div class="share-items">
        {% if site.share contains 'facebook' %}
          <a class="share-item facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}" title="Share on Facebook" target="_blank">
            <span class="fab fa-facebook-f" title="Share on Facebook"></span>
          </a>
        {% endif %}
        {% if site.share contains 'twitter' %}
          <a class="share-item twitter" href="https://twitter.com/intent/tweet?text=%22{{ page.title | url_escape }}%22{{ ' by @bstevensondev' | url_escape }}&url={{ page.url | prepend: site.baseurl | prepend: site.url | url_escape }}" data-show-count="false" target="_blank">
            <span class="fab fa-twitter" title="Tweet"></span>
          </a>
        {% endif %}
        {% if site.share contains 'google-plus' %}
          <a class="share-item google-plus" href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}" title="Share on Google+" target="_blank">
            <span class="fab fa-fw fa-google-plus-g" title="Share on Google+"></span>
          </a>
        {% endif %}
        {% if site.share contains 'linkedin' %}
          <a class="share-item linkedin popup" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | prepend: site.baseurl | prepend: site.baseurl | prepend: site.url }}" target="_blank">
            <span class="fab fa-fw fa-linkedin-in" title="Share on LinkedIn"></span>
          </a>
        {% endif %}
        {% if site.share contains 'tumblr' %}
          <a class="share-item tumblr" href="https://tumblr.com/share/link?url={{ page.url | prepend: site.baseurl | prepend: site.baseurl }}" target="_blank">
            <span class="fab fa-fw fa-tumblr" title="Post to Tumblr"></span>
          </a>
        {% endif %}
        {% if site.share contains 'reddit' %}
          <a class="share-item reddit" href="http://www.reddit.com/submit?url=http%3A%2F%2Fbrettstevenson.io&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
            <span class="fab fa-fw fa-reddit-alien" title="Post on Reddit"></span>
          </a>
        {% endif %}
        {% if site.share contains 'pocket' %}
          <a class="share-item pocket" href="https://getpocket.com/save?url={{ page.url | prepend: site.baseurl | prepend: site.baseurl }}" target="_blank">
            <span class="fab fa-fw fa-get-pocket" title="Save to Pocket"></span>
          </a>
        {% endif %}
        {% if site.share contains 'email' %}
          <a class="share-item email" href="mailto:?subject={{ page.title | replace: ' ', '%20' }}&amp;body=Check out this article!%0D%0A{{ page.url | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>
            <span class="fas fa-fw fa-at" title="Share via email"></span>
          </a>
        {% endif %}
      </div>
    </div>
  <div class="thank-you">Thank you</div>
</div>
