
#blog {
  background: lighten(_palette(accent1, bg), 3%);
  &::before {
    @include linear-gradient(top left, transparent, transparent 50%, lighten(_palette(accent1, bg), 3%) 50%, lighten(_palette(accent1, bg), 3%));
  }
  .inner {
    margin: 0 auto 2.7em;
  }
  header {
    display: block;
    text-align: center;
    margin: 0 0 2em;
    padding-top: 0.5em;
  }
  h2 {
    display: inline-block;
    position: relative;
    color: _palette(bg);
    font-size: 3.25em;
    letter-spacing: 0.05em;
    line-height: _font(hdr-lheight-small);
    text-align: center !important;
    margin: 0.55em 0 0;
    padding-bottom: 0.05em;
    border-bottom: 2px solid #dfdfdf;
  }
}


/* Featured Box */
.featured-box {
  background: #fff;
  height: 16em;
  border-radius: 2px;
  border-bottom: solid 1px #ccc;
  box-shadow: 2.5px 3px 6px rgba(#000, 0.4) !important;
  .image.featured {
    display: inline;
    position: relative;
    width: 100%;
    object-fit: cover;
    img {
      display: block;
      width: 100%;
      height: 82px;
      max-height: 82px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      object-fit: cover;
      margin: auto;
    }
  }
  .content {
    color: rgba(#000, 0.75);
    height: 48%;
    width: 90%;
    margin: 0.4em auto 0.25em;
    .featured-title {
      font-family: _font(hdr-family);
      font-weight: _font(hdr-bold);
      font-size: 2.15vw;
      line-height: 1.25;
      width: 100%;
      margin: 0.4em auto;
    }
    .featured-desc {
      font-family: _font(ctrl-family);
      font-size: 10.25pt !important;
      line-height: _font(prose-lheight-normal);
      width: 100%;
      margin: auto;
    }
  }
  .footer {
    position: relative;
    bottom: -3px;
    height: 15%;
    .featured-button { 
      @include position(relative, null 1.25vw -0.5vw null);
      @include transition(all 500ms ease 0s, !important);
      @include linear-gradient(lighten(_palette(accent6, bg), 3%), darken(_palette(accent6, bg), 10%));
      @include transform(translateY(0px));
      color: lighten(_palette(accent6, fg), 8%);
      font-family: _font(ctrl-family);
      font-size: _font(hdr-size-xxsmall);
      font-weight: _font(ctrl-bold);
      line-height: 2;
      text-shadow: 0 1px 1px rgba(#000,0.5);
      box-shadow: 0 0.25px 0 0 darken(_palette(accent6, shadow), 3%), inset 0 0 0 -5px rgba(#000, 0.25), inset 0 2px 1px 0 rgba(#fff, 0.05), 0 0.5px 1.5px rgba(#000, 0.35) !important;
      border-radius: 4px;
      float: right;
      padding: 0.025em 0.55em 0;
      &:hover {
        @include transition(all 400ms ease 0s);
        @include linear-gradient(lighten(_palette(accent6, bg), 8%), darken(_palette(accent6, bg), 14%));
        color: _palette(accent6, fg-bold) !important;
        text-shadow: 0 1px 1.5px rgba(#000,0.75);
        box-shadow: 0 0.25px 0 0 darken(_palette(accent6, shadow), 8%), inset 0 0 0 -5px rgba(#000, 0.2), inset 0 2px 1px 0 rgba(#fff, 0.035), 0 1px 2px rgba(#000, 0.65) !important;
      }
      &:active, &:focus, &:visited {
        @include transition(transform 300ms ease 0s);
        @include transform(translateY(0.5px));
        @include linear-gradient(lighten(_palette(accent6, bg), 12%), darken(_palette(accent6, bg), 6%));
        color: _palette(accent6, fg-bold) !important;
        text-shadow: 0 1px 1.5px rgba(#000,0.8);
        box-shadow: 0 2px 0 0 darken(_palette(accent6, shadow), 8%), inset 0 0 0 -5px rgba(#000, 0.3), inset 0 2px 1px 0 rgba(#fff, 0.025),  0 1px 2px rgba(#000, 0.65) !important;
      }
    }
  }
  @include breakpoint(small) { 
    .featured-title {
      font-size: 0.85em;
      margin-top: 0.5em;
    }
    .featured-desc {
      font-size: 1.7vw !important;
    }
    .featured-button {
      bottom: 0.35vw;
    }
  }
}

.post-list {
  display: block;
  font-size: _font(hdr-size-small);
  text-align: left;
  width: 96vw;
  margin: auto;
  margin-bottom: 1.5em;
  vertical-align: middle;
  align-content: center;
  
  > li {
    display: inline-block;
    width: 23.5%;
    height: auto;
    list-style: none;
    vertical-align: top;
    line-height: _font(hdr-lheight-smaller);
    margin: 0.5em 0.2em !important;
    padding: 0 !important;
    &:first-child {
      margin-left: 0;
    }
  }
  
  @include breakpoint(small) { 
    padding-left: 0
  }
}

#archive {
  border: 0 !important;
  margin: 0 0.75em;
  padding: 1.25em 1.55em 6em;
  .year {
    color: lighten(#30333b, 10%);
    font-size: 1.75em;
    font-weight: _font(ctrl-bold);
    font-size: normal !important;
    letter-spacing: 0.05em;
    line-height: 1 !important;
    margin: 0.5em auto 0.65em;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .archive-post {
    color: rgba(#000, 0.8);
    font-family: _font(ctrl-family);
    font-size: _font(hdr-size-smaller);
    margin: 0 4em;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    .date-container {
      display: inline-flex;
      min-width: 55px;
      max-width: 55px;
      text-align: right;
      vertical-align: middle;
      margin: auto;
      .date {
        color: rgba(#000,0.55);
        font-family: _font(hdr-family);
        font-size: _font(hdr-size-xxsmall) !important;
        text-align: right;
        min-width: 100%;
        max-width: 100%;
        padding: 2px 8px 2px 0;
        border-right: 0.5px solid rgba(#000, 0.5);
      }
    }
  }
  
  .post-link {
    position: relative;
    top: 3px;
    white-space: nowrap !important;
    &:hover .title, &:active .title {
      color: saturate(darken(_palette(accent2, bg), 8%), 5%) !important;
      text-shadow: 0 0.5px 1px rgba(#000, 0.2);
    }
    .title {
      @include transition(all 250ms ease-in-out 0s);
      font-family: _font(hdr-family);
      font-size: _font(hdr-size-large);
      font-weight: _font(hdr-bold);
      letter-spacing: .0475em;
      color: rgba(#000, 0.7) !important;
      padding-left: 4px;
      cursor: pointer;
      &:hover, &:active {
        color: darken(_palette(accent2, bg), 4%) !important;
        text-shadow: none;
      }
    }
  }
  
  hr {
    @include opacity(0.5);
    position: relative;
    border-top: 1px solid rgba(48,56,64,0.2);
    width: 95%;
    margin: 0.5em auto 1em;
    // opacity: 0.5;
    &:nth-child(2) {
      border-color: rgba(#000, 0);
    }
  }
  
  @include breakpoint(small) { 
    .archive-post {
      margin-left: 5.75vw;
      margin-right: 3.5vw;
    }
    .year {
      margin-left: 0.75em;
    }
  }
}


/*********** 
*** TAGS ***
************/
.tags {
  border: 0 !important;
  margin: 1.875rem auto;
  padding: 3em;
  .tag-entry {
    display: inline-block;
    font-size: 1.75rem;
    text-decoration: none;
    color: darken(_palette(accent2, bg), 5%);
    border: 1px solid darken(_palette(accent2, bg), 5%);
    border-radius: .313rem;
    padding: .25rem .625rem;
    margin-right: .125rem;
    margin-bottom: .5rem;
    &:hover {
      color: darken(_palette(accent2, bg), 15%);
      border: 1px solid darken(_palette(accent2, bg), 15%)
    }
  }
  .tags-list {
    width: 90%;
    margin: 0 auto 3em;
  }
  .tag-title {
    // display: block;
    font-size: 1.85rem;
    margin-bottom: 0.25em;
    cursor: default;
  }
  .tag-posts {
    list-style: none;
    vertical-align: top;
    margin: 0.5em 0.6em 2.5em;
    padding: 0;
    li {
      margin-bottom: 1em;
      .post-link {
        .title {
          font-weight: 600;
        }
        .entry-date {
          display: block;
          font-size: 1.3rem;
          font-weight: normal;
        }
        &:hover .title, &:active .title {
          color: saturate(lighten(_palette(accent2, bg), 15%), 5%) !important;
          text-shadow: 0 0.5px 1px rgba(#000, 0.2);
        }
      }
    }
  }
}
