#contact {
  padding: 2.5em 0 0.5em;
  ul {
    padding: 2.5em 0 1em;
    &.actions {
      width: 24vw;
      li > * {
        max-width: 100%;
      }
    }
  }
}

#sendemail {
  > div {
    width: 90%;
    margin: auto;
    padding-right: 1.5em;
    > ul {
      position: relative;
      margin: 1em 39.25% 0;
      > li {
        margin: 0;
      }
    }
  }
}

#response {
  padding: 14vh 0 5vh 0;
  .text {
    padding-bottom: 2.5em;
    h4 {
      font-size: 2em;
      font-weight: 800;
      letter-spacing: 0.165em;
      line-height: 1.25;
      text-align: center;
      margin-bottom: 0.5em;
    }
    p {
      font-family: _font(ctrl-family);
      line-height: 2;
      text-align: center;
      margin: 0;

      a {
        font-weight: 700;
        color: _palette(bg);
        &:hover, &:active {
          color: _palette(accent1, bg);
        }
      }
    }
  }
  li {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    .button {
      min-width: 18vw !important;
    }
  }
}

.contact-success, .contact-failed {
  .wrapper {
    background: _palette(accent1, bg);
    min-height: 35vh;
  }
}
