#designer {
  padding: 0 !important;
  .breadcrumb {
    background-color: _palette(accent1,bg);
    color: _palette(bg);
    font-family: _font(hdr-family);
    font-size: _font(hdr-size-small);
  }
  ul {
    padding-left: 1.25em;
    li {
      color: _palette(accent1,fg);
      font-family: ('Open Sans', Helvetica, sans-serif) !important;
      font-size: _font(hdr-size-small);
      padding-left: 0;
      &::before {
        font-size: _font(hdr-size-large);
      }
      &:hover {
        color: _palette(accent1, fg-bold);
        &::before {
          color: _palette(accent1, fg);
        }
      }
    }
  }

  #about {
    background: _palette(bg);
    padding: 3em 0 10em;
    &::after {
      @include linear-gradient(top left, transparent, transparent 50%, _palette(bg) 50%, _palette(bg));
    }
  }

  #four {
    background-image: -webkit-linear-gradient(top, rgba(#000, 0.5), rgba(#000, 0.5)), url("/images/design.jpg") !important;
    background-position: bottom;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 2em 0 !important;
  }
}

.design-tiles {
  .mask {
    padding: 20px;
  }
  h4 {
    letter-spacing: 0.035em;
    margin-top: 4%;
  }
}

.mfp-container {
  .mfp-arrow {
    position: absolute;
    background: transparent !important;
    color: #fff;
    top: 49%;
    box-shadow: none;
    cursor: pointer;
    z-index: 99999;
    &.fa-chevron-left {
      left: 6.5%;
    }
    &.fa-chevron-right {
      right: 6.5%;
    }
  }
}
