#designer {
  padding: 0 !important;
  .breadcrumb {
    background-color: _palette(accent1,bg);
    color: _palette(bg);
    font-family: _font(hdr-family);
    font-size: _font(hdr-size-small);
  }
  ul {
    padding-left: 1.25em;
    li {
      color: _palette(accent1,fg);
      font-family: ('Open Sans', Helvetica, sans-serif) !important;
      font-size: _font(hdr-size-small);
      padding-left: 0;
      &:before {
        font-size: _font(hdr-size-large);
      }
      &:hover {
        color: _palette(accent1,fg-bold);
        &:before {
          color: _palette(accent1,fg);
        }
      }
    }
  }
  
  #about {
    padding-bottom: 5em;
    &::before {
      @include linear-gradient(top left, transparent, transparent 50%, _palette(bg) 50%, _palette(bg));
    }
  }

  #four {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/design.jpg") !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 2em !important;
  }
}

#design-gallery {
  position: relative;
  padding: 1em 0 6em;
  box-shadow: 0 2px 12px rgba(0,0,0,0.3);
  z-index: 10;
  &::before {
    @include linear-gradient(top right, transparent, transparent 50%, _palette(accent1, bg) 50%, _palette(accent1, bg));
    top: -17vw;
  }
  
  .tile {
    @include transform(scale(1));
    font-family: _font(hdr-family) !important;
    min-width: 45%;
    max-width: 45%;
    height: 220px;
    .mask {
      padding: 0.75em;
    }
    p {
      font-size: 1.8vw;
      color: rgba(#fff, 0.925);
    }
    &:hover {
      @include transform(scale(1, 1.0025));
      height: 320px;
      &:nth-child(n+3) {
        vertical-align: top !important;
      }
    }
  }
  @include breakpoint(small) {
    padding: 1em 0 5em;
    .m-p-g {
      padding: 0;
    }
    #flip-container .face.back > h4 {
      margin: 0.5em auto;
    }
  }  
}
