#designer {
  padding: 0 !important;
  .breadcrumb {
    background-color: _palette(accent1,bg);
    color: _palette(bg);
    font-family: _font(hdr-family);
    font-size: _font(hdr-size-small);
  }
  ul {
    padding-left: 1.25em;
    li {
      color: _palette(accent1,fg);
      font-family: ('Open Sans', Helvetica, sans-serif) !important;
      font-size: _font(hdr-size-small);
      padding-left: 0;
      &:before {
        font-size: _font(hdr-size-large);
      }
      &:hover {
        color: _palette(accent1,fg-bold);
        &:before {
          color: _palette(accent1,fg);
        }
      }
    }
  }
  
  #about {
    padding-bottom: 5em;
    &::before {
      @include linear-gradient(top left, transparent, transparent 50%, _palette(bg) 50%, _palette(bg));
    }
  }

  #four {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/design.jpg") !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 1.5em !important;
  }
}

#design-gallery {
  position: relative;
  padding: 1em 0 6em;
  box-shadow: 0 2px 12px rgba(0,0,0,0.3);
  z-index: 10;
  &::before {
    @include linear-gradient(top right, transparent, transparent 50%, _palette(accent1, bg) 50%, _palette(accent1, bg));
    top: -17vw;
  }
  
  // .inner {
  //   display: block;
  //   margin: -15.75vw auto 0;
  // }
  
  // .design-tiles {
  //   display: inline-block !important;
  // }
  
  // h2 {
  //   font-family: _font(hdr-family);
  //   // color: rgba(#fff, 0.85);
  //   line-height: _font(hdr-lheight-large);
  //   letter-spacing: 0.15em;
  //   margin-bottom: 0.5em;
  //   border-bottom: solid 2px _palette(accent5, border);
  // }
  
  .tile {
    @include transform(scale(1));
    font-family: _font(hdr-family) !important;
    min-width: 45%;
    max-width: 45%;
    height: 220px;
    .mask {
      padding: 0.75em;
    }
    // img {
      // @include filter(grayscale(0%));
    // }
    // h4 {
      // color: rgba(#fff, 0.8);
      // font-size: 1.85em;
      // line-height: 1.25;
      // margin-top: 8%;
    // }
    p {
      font-size: 1.65vw;
      color: rgba(#fff, 0.925);
      // font-family: _font(hdr-family) !important;
      // font-size: 15px;
      // margin: 0 auto 1.5em !important;
      // padding: 0;
    }
    &:hover {
      @include transform(scale(1, 1.0025));
      height: 320px;
      &:nth-child(n+3) {
        vertical-align: top !important;
      }
    }
    // &:nth-child(n+5) {
    //   margin-top: 5px;
    // }
  }
  @include breakpoint(small) {
    padding: 1em 0 5em;
    .m-p-g {
      padding: 0;
    }
    #flip-container .face.back > h4 {
      margin: 0.5em auto;
    }
  }  
}
