/***
* Mailing list
***/
#mailing-list {
  font-family: _font(ctrl-family);
  width: 80%;
  margin: auto;
  padding: 2.5em 0 5em;
  #mc_embed_signup {
    .legend {
      position: relative;
      color: rgba(#000, 0.5);
      font-size: 0.7em;
      right: 2%;
      float: right;
    }
    .mc-field-group {
      > label {
        color: lighten(_palette(bg), 15%);
        font-weight: _font(hdr-extrabold);
      }
      > strong {
        position: relative;
        color: lighten(_palette(bg), 15%);
        font-size: 14pt;
        font-weight: _font(hdr-extrabold);
        top: 2.5em;
        margin-bottom: 1.75em;
        display: block;
      }
      > ul {
        @include columns(2 20px);
        @include column-fill(auto);
        display: block;
        position: relative;
        font-family: _font(ctrl-family);
        top: 3em;
        list-style-position: inside;
        li {
          font-family: _font(ctrl-family) !important;
          padding-top: 4px;
          list-style: none;
          label {
            font-size: 12pt;
            top: -5px;
            margin-bottom: 10px;
            padding-left: 10px;
            &::before {
              position: relative;
              font-size: 0.75em;
              top: 5px;
              margin-right: 1em;
            }
          }
        }
      }
    }
  }
  input[type="checkbox"] {
    display: block;
    position: relative;
    font-family: _font(ctrl-family);
    font-size: 9pt !important;
    font-weight: _font(ctrl-normal);
    list-style: none;
    outline: none !important;
    label:before {
      font-size: 9pt;
      box-shadow: inset 0 0 2px rgba(#000, 0.15)
    }
  }
  input[type="checkbox"]:checked+label:before {
    position: inherit;
    background-color: _palette(accent1, bg);
    top: 0px !important;
  }
  label[for="mce-EMAIL"] {
    display: block;
    position: relative;
    font-size: 14pt;
    font-weight: _font(ctrl-bold);
    top: 1.5em;
    left: -7px;
    margin-bottom: 0.5em;
  }
  input[type="email"] {
    display: block;
    position: relative;
    font-size: 9pt;
    top: 2em;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 2.25em;
  }
  input[type="submit"] {
    display: block;
    position: relative;
    background-color: _palette(accent6, bg);
    top: 5em;
    width: 22%;
    border-radius: 8px;
    margin: 5em auto 4em;
  }
  .asterisk {
    color: rgba(#000, 0.5);
  }
}
