// #post {
//   strong {
//     font-family: _font(ctrl-family);
//     font-weight: _font(prose-extrabold);
//     letter-spacing: 0.05em;
//     a {
//       color: _palette(accent4, bg);
//       &:hover, &:active {
//         color: lighten(_palette(accent4, bg), 20%);
//         border-bottom: 2px dotted _palette(accent4, bg);
//       }
//     }
//   }
//   p {
//     font-family: _font(ctrl-family);
//     font-size: _font(prose-size-med);
//     // line-height: _font(hdr-lheight-large);
//     margin-bottom: 0.65em;
//     padding: 0 0.5em;
//   }
//   a {
//     font-family: _font(ctrl-family);
//     color: darken(_palette(accent4, bg), 40%);
//     &:hover, &:active {
//       color: darken(_palette(accent4, bg), 30%);
//       // border-bottom: 2px dotted darken(_palette(accent4, bg), 30%);
//     }
//   }
//   hr {
//     background-color: rgba(#000, 0.2);
//     height: 2px !important;
//     margin: 0 0 1em;
//   }
//   ul {
//     margin: 0 0 1em 1.5em;
//   }
//   li {
//     font-size: _font(prose-size-med);
//   }
//   // .highlight {
//   //   margin: 2em 0 !important;
//   //   code {
//   //     font-family: _font(fixed-family);
//   //     font-size: 1.05em;
//   //     letter-spacing: 0.05em;
//   //     background-color: #444142;
//   //     color: #eaeaea;
//   //     border-radius: 10px;
//   //     margin: 0 0.75em;
//   //     padding: 0.5em;
//   //     box-shadow: inset 0px 0px 14px rgba(#000, 0.9);
//   //   }
//   // }
//   // img {
//     // margin: 0.5em 0 0.75em 0;
//   // }
//   #post-date {
//     font-family: _font(ctrl-family);
//     font-size: _font(ctrl-size-xsmall);
//     float: right;
//     margin-top: 2.75%;
//   }
// }

.post {
  background-color: #fcfafd;
  width: 100%;
  .post-image {
    @include position(relative, 0 0 0 0);
    overflow: hidden;
    #post-banner {
      background-size: cover !important;
      background-position: center !important;
      text-indent: -9999px;
      height: 45vh;
      padding-top: 0;
      z-index: 1;
    }
    &.fullhead {
      margin-bottom: 4vw;
    }
    // @media(min-width: 300px) {
    //   #post-banner {
    //     @include position(relative, 0 0 0 0);
    //     // background-size: cover !important;
    //     // background-position: center !important;
    //     text-indent: -9999px;
    //     padding-top: 0;
    //     z-index: 1;
    //   }
    // }
    // @media(max-width: 300px) {
    //   #post-banner {
    //     @include position(relative, 0 0 0 0);
    //     // background-size: cover !important;
    //     // background-position: center !important;
    //     text-indent: -9999px;
    //     padding-top: 0;
    //     z-index: 1;
    //   }
    // }
    .post-meta {
      @include box-sizing(border-box);
      @include position(absolute, 9.75vw 5% null 5%);
      font-family: _font(ctrl-family);
      width: 90%;
      z-index: _misc(z-index-base) * 0.09;
      // @include respond-to(800) {
      //     left: 16px;
      //     right: 16px;
      // }
      &.fullhead {
        @include position(absolute, 20vw 5% null 5%);
        .scroll-arrow {
          text-align: center; 
          width: 90%; 
          margin: 9vw auto 0;
        }
      }
    }
    .post-title {
      color: rgba(#fff, 0.95);
      font-size: 50px;
      font-weight: _font(hdr-black);
      font-style: normal;
      letter-spacing: 0.04em;
      line-height: 1.2;
      text-align: center;
      text-shadow: 0 1px 12px rgba(#000, 0.25), 0 0 1px rgba(#000, 0.5);
      max-width: 90%;
      margin: 0 auto;
    }
    .author-image {
      display: inline-block;
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      text-indent: -9999px;
      line-height: 30px;
      margin-right: 6px;
      margin-bottom: -10px;
    }
    .author-name {
      display: inline;
      color: rgba(#fff, 0.85);
      font-size: _font(prose-size-large);
      font-weight: _font(prose-bold);
      letter-spacing: 0.05em;
      text-transform: capitalize;
      &:hover {
        color: _palette(fg-bold);
      }
    }
    .post-meta-text {
      color: rgba(#fff, 0.75);
      font-family: _font(ctrl-family);
      font-size: _font(prose-size-large);
      font-weight: _font(prose-bold);
      font-style: normal;
      letter-spacing: -0.02em;
      text-align: center;
      text-overflow: ellipsis;
      text-shadow: 0px 1px 2px rgba(#000, 0.25), 0px 0px 1px rgba(#000, 0.5);
      margin: 0.75em auto 0;
      white-space: nowrap;
      overflow: hidden;
      #post-date {
        // font-family: _font(ctrl-family);
        // font-size: _font(ctrl-size-xsmall);
        // float: right;
        // margin-top: 2.75%;
        // font-size: _font(prose-size-small);
        font-weight: 500 !important; 
        line-height: 25px;
      }
      #date {
        font-size: _font(prose-size-small);
        line-height: 25px;
        time {
          color: rgba(#fff, 0.85);
          font-size: _font(prose-size-med);
          letter-spacing: 0.03em;
          padding-left: 4px;
        }
      }
      a {
        color: rgba(#fff, 0.65);
        &:hover, &:active {
          color: #fefefe;
        }
      }
    }
    .fa-angle-down {
      color: rgba(#fff, 0.75);
      font-size: 52px;
      text-shadow: 0px 1px 2px rgba(#000, 0.5), 0px 0px 1px rgba(#000, 0.5);
      margin: 3em auto 0;
      &:hover, &:active {
        color: #fefefe;
        text-shadow: 0px 1px 2px rgba(#000, 0.75), 0px 0px 1px rgba(#000, 0.5);
      }
    }
    .top {
      text-decoration: underline;
    }
  }
  
  br {
    display: block !important;
    content: " " !important;
    line-height: 22px !important; 
    margin-top: 10px !important;
  }
  
  .written-content {
    font-family: _font(ctrl-family);
    color: _palette(fg-dark);
    width: 80%;
    margin: 0 auto;
    padding: 2.5em 30px 4em;
    overflow: hidden;
    h1, h2, h3, h4, h5, h6 {
      font-family: _font(ctrl-family);
      color: #333;
      text-transform: none;
      a {
        color: _palette(bg) !important;
      }
      &.bordered {
        border-bottom: 1px solid #e0e0e0;
      }
      // &::before {
      //   content: '#';
      //   color: #DDD;
      //   padding-right: 0.25em;
      //   visibility: hidden;
      // }
      // &:hover {
      //   &::before {
      //     content: '#';
      //     color: #DDD;
      //     visibility: visible;
      //   }
      // }
    }
    h1 {
      font-size: _font(prose-size-h1);
      font-weight: _font(prose-extrabold);
      letter-spacing: 0.045em;
      line-height: 1.5;
      margin-bottom: 0.55em;
      margin-top: 50px;
      margin-bottom: 25px;
    }
    h2 {
      font-size: _font(prose-size-h2);
      font-weight: _font(prose-extrabold);
      letter-spacing: 0.015em;
      line-height: 1.65;
      border-bottom: 1px solid #e0e0e0;
      margin-top: 40px;
      margin-bottom: 20px;
      strong {
        font-weight: 900 !important;
      }
    }
    h3 {
      font-size: _font(prose-size-h3);
      font-weight: _font(prose-extrabold);
      letter-spacing: 0.0075em;
      margin-top: 25px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: _font(prose-size-h4);
      font-weight: _font(prose-extrabold);
      letter-spacing: 0.035em;
    }
    h5 {
      font-size: _font(prose-size-h5);
      font-weight: _font(prose-extrabold);
      letter-spacing: 0.035em;
    }
    p {
      color: rgba(#000, 0.85);
      font-size: _font(prose-size-med);
      letter-spacing: 0.006em;
      line-height: _font(prose-lheight-med);
      text-shadow: none;
      // margin-bottom: 1.35em;
      margin-top: 25px;
      margin-bottom: 0;
      --x-height-multiplier: 0.375;
      --baseline-multiplier: 0.17;
      br {
        display: block !important;
        content: " " !important;
        line-height: 22px !important; 
        margin-top: 10px !important;
      }
    }
    strong, b {
      font-weight: _font(prose-bold);
    }
    .dropcap {
      margin-right: .45rem;
    }
    img {
      max-width: 98%;
      // max-height: 900px;
      margin: 10px auto;
      box-shadow: 0 0 10px rgba(#000,0.4);
      &.inline {
        margin: 0px 2px -3px !important;
        box-shadow: none !important;
      }
    }
    .img-caption {
      font-size: _font(prose-size-small);
      line-height: _font(prose-lheight-normal);
      text-align: center;
      width: 100%;
      margin-top: 10px;
    }
    a {
      @include transition(color 300ms ease-in-out 0s);
      color: darken(saturate(_palette(accent4, bg), 20%), 35%);
      color: _palette(link) !important;
      &:hover, &:active {
        color: darken(saturate(_palette(accent4, bg), 20%), 25%);
        color: _palette(link-hover) !important;
      }
    }
    a i, a strong {
      @include transition(color 300ms ease-in-out 0s);
      color: darken(saturate(_palette(accent4, bg), 20%), 35%);
      color: _palette(link) !important;
      &:hover, &:active {
        color: darken(saturate(_palette(accent4, bg), 20%), 25%);
        color: _palette(link-hover) !important;
      }
    }
    figure {
      margin: 0;
      padding: 0 0 30px;
    }
    figcaption {
      color: #666665;
      font-weight: _font(prose-normal);
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      text-align: center;
      outline: 0;
      z-index: _misc(z-index-base) * 0.3;
    }
    iframe {
      margin: 10px auto;
    }
    ul, ol, dl, li {
      font-family: _font(ctrl-family);
    }
    ul, ol {
      margin-top: 15px;
    }
    ol li {
      list-style-type: decimal;
    }
    ul li {
      width: 95%;
      padding: 0 0.25em 0.5em;
      &:last-child {
        padding-bottom: 0;
      }
    }
    li {
      padding-bottom: 0.5em;
    }
    li ul {
      padding-top: 0.5em;
      padding-bottom: 0.25em;
      margin-top: 0;
      margin-bottom: 0;
    }
    hr {
      @include opacity(0.9);
      background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
      height: 5.5px;
      border: 0;
      margin-top: 2.5em;
    }
    pre.highlight {
      margin: 2em 0 !important;
      code {
        background-color: #292C32;
        color: rgba(#fff, 0.65);
        font-family: _font(fixed-family);
        font-size: _font(fixed-size);
        letter-spacing: normal;
        line-height: 1.45;
        border-radius: 10px;
        margin: 0 0.75em;
        padding: 0.75em 1em 1em;
        box-shadow: inset 0 0 15px rgba(#000, 0.9);
      }
    }
    blockquote {
      background: transparent;
      // font-family: "Garamond","Times New Roman",serif;
      quotes: "“""”""‘""’  ";
      width: 90%;
      border: 0;
      border-radius: 4px;
      margin: 2em auto 3.5em !important;
      padding: 0;
      &::before, &::after {
        display: block;
        color: #878787;
        font-family: sans-serif !important;
        font-size: 6.25em;
        line-height: 0.075em;
        text-shadow: none;
      }
      &::before {
        @include position(relative, 0.235em null null 0);
        content: open-quote;
        float: left;
        vertical-align: -.4em;
        margin: 0 0.075em 0 0;
      }
      &::after {
        @include position(relative, 0.285em 0 null null);
        content: close-quote;
        float: right;
        vertical-align: -.6em;
        margin-left: 0.175em !important;
      }
      p {
        display: flex;
        background: rgba(#686B6D, 0.05);
        font-size: 1em;
        line-height: 1.4;
        width: 95% !important;
        border-radius: 4px;
        box-shadow: 0 1px 5px rgba(#000, 0.25);
        margin: 0 auto !important;
        padding: 0.75em 1.4em 1em !important;
      }
    }
    &:first-child {
      margin-top: 0 !important;
    }
  }
  
  .button {
    display: flex !important; 
    position: relative;
    color: rgba(#fff, 0.85) !important;
    font-weight: 700;
    letter-spacing: 0.055em;
    line-height: 2.25;
    text-align: center;
    justify-content: center !important;
    margin-top: 3.25em !important;
    &.bottom {
      margin-top: 4em !important;
    }
    a {
      color: rgba(#fff, 0.85) !important; 
      &:hover, &:active {
        color: rgba(#fff, 0.95) !important;
      }
    }
    &::before {
      margin-right: 8px;
    }
    &:hover, &:active {
      color: rgba(#fff, 0.95) !important;
    }
  }
  
  .post-closer {
    font-family: _font(ctrl-family);
    width: 82%;
    margin: 0 auto;
    padding: 0 0 3.5em;
    hr {
      display: block;
      width: 15%;
      border: 0px solid #ddd;
      border-top: 1px solid #ddd;
      margin: 10px 0 6px 15px;
      padding: 0;
    }
    .isLeft {
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
        padding-bottom: 32px;
      }
      float: left;
      width: 45%;
      .index-headline {
        padding-bottom: 8px;
      }
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          color: #333;
          text-decoration: underline;
        }
      }
      .author-image, .author-info {
        display: inline-block;
        vertical-align: middle;
      }
      .author-image {
        // display: block;
        background-size: cover;
        text-indent: -9999px;
        width: 65px;
        height: 65px;
        float: left;
        border-radius: 100%;
        margin-left: 2px;
      }
      h4 {
        color: _palette(bg);
        font-size: _font(hdr-size-xlarge);
        font-weight: _font(prose-extrabold);
        text-transform: capitalize;
        letter-spacing: 0.05em;
        line-height: 0.65;
        margin: 8px 0 0 0;
        padding: 0 0 0 15px;
      }
      p {
        font-size: 14px;
        font-weight: _font(normal);
        line-height: 1.5;
        margin: 0;
        padding: 1px 0 0 18px;
        &.sub {
          font-size: 12px;
          color: #999;
        }
      }
    }
    .isRight {
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
      }
      width: 45%;
      float: right;
      .index-headline {
        padding-bottom: 14px;
      }
      .site-footer {
        color: #999;
        font-size: 14px;
        line-height: 1.3;
        text-align: left;
        margin: 0;
        padding: 0;
        a {
          color: #333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .poweredby {
          display: block;
          color: #333;
          font-weight: _font(bold);
          padding-bottom: 18px;
        }
      }
    }
  }
}

.post-content {
  h2 {
    font-size: 42px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 30px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
.post-meta {
  font-size: 14px;
  color: #828282;
  margin-bottom: 0px;
}
// .post-link {
//   display: block;
//   font-size: 42px;
// }
.cf::after {
  clear: both;
  content: "";
  display: table;
}
.index-headline {
  line-height: 1;
  margin-bottom: 4px;
  padding: 5px 0 64px 2px;
  border-top: 1px solid rgba(#000, 0.175);
  span {
    color: rgba(#000, 0.45);
    font-size: _font(hdr-size-xsmall);
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 0.165em;
  }
}

.nopostimage {
  position: relative;
  max-width: 80%;
  margin: auto;
  .post-meta {
    font-family: _font(ctrl-family);
    font-size: 14px;
    color: _palette(fg-light);
    line-height: 30px;
    // float: left;
    text-align: left;
    max-width: 100%;
    margin: auto;
    padding-top: 60px;
    a {
      color: _palette(fg-light);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .post-title {
      display: block;
      font-size: 75px;
      font-weight: _font(prose-extrabold);
      font-style: normal;
      letter-spacing: -0.04em;
      line-height: 1.25;
      text-align: center;
      color: _palette(fg-bold);
      width: 90%;
      border-bottom: 1px solid _palette(border);
      margin: 0 auto 14px;
      a {
        color: _palette(fg-bold);
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .author-image {
    display: inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    border-radius: 100%;
    text-indent: -9999px;
  }
  .author-name {
    display: inline;
    color: rgba(#fff, 0.9);
    font-size: _font(prose-size-large);
    font-weight: _font(prose-normal);
    letter-spacing: 0.05em;
    line-height: 25px;
    float: left;
    padding: 0 5px 6px 0;
    &:hover {
      color: _palette(fg-bold);
    }
  }

  .post-meta-text {
    color: _palette(fg-light);
    font-family: _font(ctrl-family);
    font-size: _font(prose-size-large);
    font-weight: _font(normal);
    font-style: normal;
    letter-spacing: -0.02em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    #date {
      font-size: _font(prose-size-small);
      font-weight: _font(pose-normal);
      line-height: 25px;
      time {
        font-size: 11pt;
        letter-spacing: 0.03em;
        padding-left: 4px;
      }
    }
    &.fullhead {
      
    }
  }
}

.readme {
  color: #333;
  padding: 60px 50px 0;
  .post-header {
    width: auto;
    max-height: 80px;
    margin: 18px 0 5px;
  }
  h4 {
    font-size: _font(hdr-size-small);
    font-weight: _font(hdr-bold);
    color: _palette(bg);
    text-transform: none;
    letter-spacing: 0.035em;
  }
  hr {
    @include box-sizing(content-box);
    background-color: #e1e4e8;
    height: 0.25em;
    margin: 12px 0 18px;
    padding: 0;
    border: 0;
  }
}
.readme-content {
  font-family: _font(hdr-family);
  font-size: _font(prose-size-med);
  line-height: _font(prose-lheight-normal);
  color: #333;
  width: 100%;
  padding: 55px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  &:first-child {
    margin-top: 0 !important;
  }
  .badge {
    text-align: right;
    margin-right: 3px;
  }
  #preview {
    max-width: 95%;
    height: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: _font(hdr-bold);
    letter-spacing: 0.05em;
    line-height: 1.25;
    color: _palette(bg);
    margin: 24px 0 16px;
    padding-bottom: 0.3em;
    text-transform: capitalize;
  }
  h1 {
    font-size: _font(hdr-size-xxxlarge);
    font-weight: _font(prose-extrabold);
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
  }
  h2 {
    font-size: 2em;
    font-weight: _font(prose-extrabold);
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
  }
  h3 {
    font-size: _font(hdr-size-xxlarge);
  }
  h4 {
    font-size: _font(hdr-size-large);
    font-weight: _font(hdr-bold);
  }
  p {
    margin-bottom: 0 0 16px;
    img {
      margin: 0;
    }
  }
  img {
    max-width: 98%;
    margin: 20px auto;
  }
  a {
    background-color: transparent;
    color: _palette(link);
    text-decoration: none;
    &:hover {
      color: _palette(link-hover);
      text-decoration: underline;
    }
  }
  strong {
    color: #303030;
  }
  ul, ol {
    line-height: _font(prose-lheight-med);
    padding-left: 2em;
  }
  ul ul {
    list-style-type: circle;
    padding-bottom: 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  li ul {
    padding-top: 0.5em;
    margin-bottom: 0.2em;
  }
  p, blockquote, ul, ol, dl, table,  {
    line-height: _font(prose-lheight-med);
    margin-top: 0;
    margin-bottom: 16px;
  }
  hr {
    @include box-sizing(content-box);
    background-color: #e1e4e8;
    height: 0.2em;
    width: 110%;
    margin: 24px 0;
    padding: 0;
    border: 0;
  }
  table {
    display: block;
    color: #444;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    overflow: auto;
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      tr {
        background-color: transparent;
        font-size: 12pt;
        border-top: 1px solid #c6cbd1;
        th, td {
          color: #444;
          padding: 6px 13px;
          border: 1px solid #dfe2e5;
        }
      }
    }
    tbody {
      border-collapse: collapse;
      tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
        &:nth-child(2n) {
          background-color: #f0f2f4;
        }
      }
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
  }
}

.h-note, .h-tip, .h-warning {
  color: rgba(#000, 0.85);
  font-size: 0.975em;
  letter-spacing: 0.035em;
  line-height: 1.45 !important;
  text-shadow: none;
  width: 92%;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 8px;
  box-shadow: 0.5px 1px 10px rgba(#000, 0.25);
  margin: 1.5em auto !important;
  padding: 6px 20px 15px;
  overflow: hidden;
  &::before {
    display: block;
    color: rgba(#000, 0.7);
    font-family: _font(hdr-family);
    font-size: 1.35em;
    font-weight: _font(prose-extrabold);
    letter-spacing: 0.035em;
    line-height: _font(ctrl-lheight-smaller);
    text-shadow: none;
    margin-left: -3px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  p {
    line-height: 1.4 !important;
    margin-bottom: 0.15em !important;
  }
}

@media(max-width: 767px) {
  .h-note,.h-tip,.h-warning {
    margin: 25px 0
  }
}


.h-tip {
  background: rgba(76,175,80,0.075);
  border-left-color: rgba(#4CAF50,0.75);
  &::before {
    // font-family: 'FontAwesome';
    // content: '\f0eb';
    content: 'Tip:';
  }
}

.h-note {
  background: rgba(3,169,244,0.05);
  border-left-color: rgba(#03A9F4,0.75);
  &::before {
    // font-family: 'FontAwesome';
    // content: '\f040';
    content: 'Note:';
  }
}

.h-warning {
  background: rgba(255,153,0,0.075);
  border-left-color: rgba(#FCAB08,0.75);
  &::before {
    // font-family: 'FontAwesome';
    // content: '\f06a';
    content: 'Warning:';
    letter-spacing: 0.045em;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
.update-container {
  display: block;
  position: relative;
  float: right;
  margin: 0.5em;
  .update-date {
    color: rgba(#000, 0.4);
    font-size: _font(prose-size-small);
  }
}

#back-to-top {
  @include transition(opacity 250ms ease-in-out 0s);
  @include opacity(0);
  position: fixed;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  width: 42px !important;
  height: 42px !important;
  bottom: 40px;
  right: 25px;
  border: 0;
  border-radius: 2px;
  z-index: _misc(z-index-base) * 5;
  cursor: pointer;
  img {
    box-shadow: none !important;
  }
  &.show {
    // @include opacity(0.3);
    opacity: 0.3 !important;
    &:hover, &:active {
      // @include opacity(0.9);
      opacity: 0.85 !important;
    }
  }
}
