/***
* RESUME
***/

$sidebar-color: #2a303a;

.resume {
  height: 100%;
  width: 100%;
  background-color: _palette(white);
  color: #333;
  font-family: _font(hdr-family);
  #sidebar {
    position: fixed;
    height: 100%;
    width: 28%;
    max-width: 300px;
    background-color: $sidebar-color;
    color: tint(#2f3a40, 80%);
    float: left;
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    z-index: 99999;
    .img-container {
      width: 100%;
      margin: 2em auto 2.5em;
      img {
        display: block;
        background-size: cover;
        width: 70%;
        height: auto;
        max-width: 200px;
        border-radius: 100%;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.55);
        margin: 0 auto;
        vertical-align: middle;
      }
    }
    .side-skills {
      .skill-container {
        width: 80%;
        margin: 1px auto;
        .progress {
          // background: rgba(#000, 0.5);
          box-shadow: 2px 1px 3px rgba(#000,0.45);
          margin-top: 3px;
        }
      }
    }
    .section {
      width: 95%;
      margin: auto;
    }
    h3 {
      @include opacity(0.85);
      font-size: 1.75em;
      font-weight: 400;
      letter-spacing: 0.04em;
      line-height: 1.95;
      text-align: center;
      white-space: nowrap;
      margin: auto;
    }
    .icons {
      color: rgba(255,255,255, 0.65);
      text-align: center;
      line-height: 1.5;
      margin: 0 0.6em 1em auto;
      padding-top: 0;
      li {
        font-size: 155%;
        margin: 0 auto;
        padding: 0.25em;
        text-shadow: 0 0 5px rgba(#000,0.65) !important;
        &:hover a, &:active a {
          color: tint(#65c1c8, 85%) !important;
        }
        &:first-child {
          position: relative;
          font-size: 160%;
        }
        &:nth-child(2) {
          position: relative;
          font-size: 145%;
        }
        &:last-child {
          position: relative;
          font-size: 145%;
          top: -2px;
        }
      }
    }
  }
  #contact {
    position: relative;
    top: 2.35vh;
    padding: 2em 0 0.15em 0;
    ul {
      padding: 0;
      li {
        padding: 0;
      }
    }
  }
  .resume-content {
    display: inline;
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-width: calc(100% - 250px);
    // left: 27%;
    right: 0;
    padding-left: 2em;
    padding-right: 1%;
    padding-bottom: 4em;
    z-index: -999;
    .head {
      margin: 1.5em 0 2.75em 0;
      h1 {
        // font-size: 6em;
        font-size: 10.25vw;
        font-weight: _font(hdr-black);
        letter-spacing: 0.035em;
        color: darken($sidebar-color, 2%);
        max-width: 700px;
        margin-bottom: 0.125em;
      }
      h4 {
        color: rgba(#000, 0.45);
        font-family: _font(ctrl-family);
        // font-size: 1.25em;
        font-size: 2.25vw;
        font-weight: _font(ctrl-bold);
        letter-spacing: 0.1em;
        text-transform: none;
        padding-left: 6px;
      }
    }
    p {
      font-size: 14px;
      letter-spacing: 0.045em;
      line-height: 1.5;
    }
    .resume-section {
      margin-bottom: 1.5em;
      #title {
        color: #444;
        font-size: 2.5em;
        letter-spacing: 0.02em;
        line-height: 1.5;
        border-bottom: 1px solid rgba(0,0,0,0.125);
        margin-right: 3.5%;
        margin-bottom: 0.4em;
      }
      p {
        width: 98%;
        margin: 0 auto 2.25em;
        padding-right: 1.15em;
      }
    }
    #work {
      height: 15%;
    }
    #school {
      height: 8.5%;
    }
    #project {
      height: 23%;
    }
    .sub {
      display: inline-block;
      // background-color: _palette(white);
      width: 100%;
      .left {
        display: inline;
        width: calc(28% - 10px);
        float: left;
        margin-right: 10px;
        margin-left: 2px;
        h4 {
          font-size: 1.65em;
          letter-spacing: 0.02em;
          color: #4A4A4A;
          border-bottom: 3px solid _palette(accent4, bg);
          white-space: nowrap;
        }
      }
      .right {
        display: inline;
        width: 71%;
        float: right;
        margin-top: 1.05em;
        .entry{
          margin: 2em 0 0;
          padding-right: 1em;
          h5 {
            color: #3a3a3a;
            font-size: 1.35em;
            letter-spacing: 0.025em;
            line-height: 1.25;
            margin: 0.75em auto 0.1em;
            a {
              color: #3a3a3a;
              &:hover {
                color: darken(_palette(accent4, bg), 14%) !important;
              }
            }
          }
          h6 {
            font-size: 9pt;
            font-weight: _font(hdr-normal);
            letter-spacing: 0.0175em;
            text-transform: none;
            color: desaturate(lighten($sidebar-color, 25%), 5%);
            margin-top: 0;
            margin-bottom: 0.55em;
            padding-left: 2px;
            .fa-dot-circle-o {
              // @include opacity(0.85);
              font-size: 0.45em;
              top: -2px !important;
              padding: 0 3px;
            }
          }
          p {
            color: #444 !important;
            padding-left: 2px;
            // padding-right: 2em;
          }
          strong {
            font-weight: _font(ctrl-bold) !important;
          }
          a {
            // color: darken(_palette(accent4, bg), 12%);
            color: #30a5c0;
            &:hover, &:active {
              color: saturate(_palette(accent4, bg), 15%);
            }
          }
        }
      }
    }
    hr {
      color: rgba(0,0,0,0.25);
      margin: 1.25em 0;
    }
  }
}
