/***
* RESUME
***/

$sidebar-color: #2a303a;

.resume {
  background-color: _palette(white);
  color: #333;
  color: rgba(#000, 0.375);
  height: 100%;
  width: 100%;
  * {
    font-family: 'Open Sans','Montserrat', sans-serif !important;
  }
  .fa.fa-circle {
    font-size: 30% !important;
    color: rgba(0,0,0,0.45) !important;
    text-shadow: none !important;
    top: -4px;
  }
}
  
  #sidebar {
    position: fixed;
    background-color: $sidebar-color;
    color: tint(#2f3a40, 80%);
    height: 100%;
    width: 28%;
    max-width: 350px;
    float: left;
    box-shadow: 0 0 10px rgba(#000, 0.85);
    padding: 0 1vw;
    z-index: 99999;
    .img-container {
      width: 100%;
      margin: 2.05em auto 2.35em;
      img {
        display: block;
        background-size: cover;
        width: 70%;
        height: auto;
        max-width: 200px;
        border-radius: 100%;
        box-shadow: 0 0 25px rgba(#000, 0.7);
        margin: 0 auto;
        vertical-align: middle;
      }
    }
    .side-skills {
      .skill-container {
        width: 80%;
        max-width: 225px;
        margin: 1px auto;
        .progress {
          // background: rgba(#000, 0.5);
          box-shadow: 2px 1px 3px rgba(#000, 0.45);
          margin-top: 3px;
        }
      }
    }
    .section {
      width: 100%;
      margin: auto;
    }
    h3 {
      @include opacity(0.85);
      font-size: 1.75em;
      font-weight: 400;
      letter-spacing: 0.04em;
      line-height: 1.75;
      text-align: center;
      white-space: nowrap;
      margin: auto;
    }
    #contact {
      position: relative;
      top: 2.5vh;
      padding: 2em 0 0;
      .icons {
        color: rgba(#fff, 0.55);
        text-align: center;
        line-height: 1.5;
        margin: 0.25em auto 1em;
        padding: 0.25em;
        li {
          // font-size: 3vw;
          font-size: 160%;
          width: 15%;
          max-width: 30px;
          margin: 0 auto;
          padding: 0;
          text-shadow: 0 0 5px rgba(#000,0.65) !important;
          &:hover a, &:active a {
            color: tint(#65c1c8, 85%) !important;
          }
          &:first-child {
            position: relative;
            font-size: 165%;
            padding-left: 0;
          }
          &:nth-child(2) {
            position: relative;
            font-size: 150%;
          }
          &:last-child {
            position: relative;
            font-size: 150%;
            top: -2px;
          }
        }
      }
    }
  }
  
  .resume-body {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 78vw;
    right: 0;
    margin: 0;
    margin-left: 20vw;
    padding-left: 3em;
    padding-right: 1.25vw;
    z-index: -999;
  }
  .resume-content {
    display: block;
    width: 70vw;
    float: left;
    margin: 0 auto;
    padding-left: 2em;
    padding-bottom: 3em;
    // z-index: -999;
  .head {
    margin: 1.5em 0 2.75em 0;
    h1 {
      font-size: 10.15vw;
      font-weight: _font(hdr-black);
      letter-spacing: 0.03em;
      line-height: 1.05;
      color: darken($sidebar-color, 2%);
      max-width: 700px;
      margin-bottom: 0.125em;
    }
    h4 {
      color: rgba(#000, 0.45);
      font-size: 2.2vw;
      font-weight: _font(ctrl-bold);
      letter-spacing: 0.085em;
      text-shadow: none !important;
      text-transform: none;
      padding-left: 6px;
      i {
        text-shadow: none !important;
      }
    }
  }
  p {
    font-size: 14.5px;
    letter-spacing: 0.03em;
    line-height: 1.55;
  }
  .resume-section {
    margin-bottom: 1.5em;
    #title {
      color: rgba(#000, 0.2);
      font-size: 3.65vw;
      font-weight: 800;
      letter-spacing: 0.02em;
      line-height: 1.5;
      border-bottom: 1px solid rgba(#000, 0.125);
      margin-right: 3.5%;
      margin-bottom: 0.4em;
    }
    p {
      width: 93%;
      margin: 0 6% 2.25em 1%;
    }
  }
  hr {
    color: rgba(#000, 0.25);
    margin: 1.25em 0;
  }
  #work {
    height: 15%;
  }
  #school {
    height: 8.5%;
  }
  #project {
    height: 23%;
  }
  .sub {
    display: inline-block;
    width: 100%;
    .left {
      display: inline;
      width: calc(28% - 10px);
      float: left;
      margin-right: 10px;
      margin-left: 2px;
      h4 {
        font-size: 1.65em;
        font-weight: 800;
        letter-spacing: 0.02em;
        color: #4A4A4A;
        color: rgba(#000, 0.2);
        border-bottom: 3px solid _palette(accent4, bg);
        white-space: nowrap;
      }
    }
  }
}

.right {
  display: inline;
  width: 71%;
  float: right;
  margin-top: 0.9em;
  padding-left: 0.25em;
  .entry {
    margin: 2em 0 0;
    padding-right: 1em;
    h5 {
      color: rgba(#000, 0.275);
      font-size: 1.35em;
      font-weight: 800;
      letter-spacing: 0.025em;
      line-height: 1.25;
      margin: 0.75em auto 0.1em;
      a {
        color: rgba(#000, 0.55);
        &:hover {
          color: darken(_palette(accent4, bg), 14%) !important;
        }
      }
    }
    h6 {
      font-size: 9pt;
      font-weight: _font(hdr-normal);
      letter-spacing: 0.0275em;
      text-transform: none;
      color: desaturate(lighten($sidebar-color, 25%), 5%);
      margin: 0 0 0.55em;
      padding-left: 2px;
      .fa-circle {
        font-size: 0.45em;
        top: -2px !important;
        padding: 0 3px;
      }
    }
    p {
      color: #444 !important;
      padding-left: 2px;
    }
    strong {
      font-weight: _font(ctrl-bold) !important;
    }
    a {
      color: #30a5c0;
      &:hover, &:active {
        color: saturate(_palette(accent4, bg), 15%);
      }
    }
  }
  &:last-child p {
    margin-bottom: 1.55em;
  }
}
