#blog {
  background: #f9fafc;
  width: 90vw;
  min-height: 25em;
  margin: auto;
  padding: 2.5em 0;
  &::before {
    background: linear-gradient(to bottom right, transparent, transparent 50%, lighten(_palette(accent1, bg), 3%) 50%, lighten(_palette(accent1, bg), 3%));
  }
  .inner {
    margin: 0 auto 2.7em;
  }
  header {
    display: block;
    text-align: center;
    margin: 0 0 2em;
    padding-top: 0.5em;
  }
  h2 {
    color: _palette(bg);
    margin: 0.75em 0 0;
    padding-bottom: 0.05em;
    border-bottom: 2px solid #dfdfdf;
  }
  @include breakpoint(medium) {
    width: 85vw;
  }
}

#blog-wrapper {
  #main {
    header {
      // background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/img/blog.jpg") !important;
      // background-image: linear-gradient(110deg, rgba(_palette(accent2, bg), 0.75), rgba(#EE6C89, 0.75)), url("/assets/img/blog.jpg") !important;
      background-image: linear-gradient(60deg, rgba(#4CA4A9, 0.75), rgba(#182C72, 0.5)), url("/assets/img/blog.jpg") !important;
      padding: 3.5em 0 0.75em;
    }
    h1 {
      display: inline-block;
      position: relative;
      color: #fff;
      font-size: 13vw;
      font-weight: 900;
      letter-spacing: normal;
      line-height: 1.4;
      text-align: center;
      text-shadow: none !important;
      top: 0.5em;
      left: -2.075em;
      // border-bottom: 2px solid hsla(240,1%,54%,0.45);
      margin: 0 auto;
    }
  }
  .inner {
    background: #f7f8fa;
    .major {
      text-align: center;
      margin-bottom: 0.5em;
    }
  }
}

.blog-main {
  display: inline-block;
  width: 65vw;
  height: 100%;
  @include breakpoint(medium) {
    width: auto;
  }
}

.card-list {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 0;
  list-style: none;
  .post-card {
    position: relative;
    background: #fff;
    height: auto;
    border-radius: 3px;
    // box-shadow: 0.5px 1px 6px rgba(#000, 0.35);
    box-shadow: 4px 14px 38px rgba(39,44,49,0.08), 1px 3px 8px rgba(39,44,49,0.05);
    margin: 1em 1.5em 1em 0;
    padding: 0;
    transition: all 350ms ease-in-out;
    &:hover {
      // box-shadow: 0.5px 1px 10px rgba(#000, 0.5);
      box-shadow: 0 0 1px rgba(39,44,49,0.1), 0 3px 16px rgba(39,44,49,0.15);
      transform: translate3D(0,-0.5px,0);
      transition: all 350ms ease;
    }
    .card-img-container {
      display: inline;
      position: relative;
      min-width: 100%;
      object-fit: cover;
      overflow: hidden;
      cursor: pointer;
      a {
        width: 100%;
        img {
          display: block;
          min-width: 100%;
          width: 100%;
          height: 185px;
          // min-height: 100%;
          // max-height: 300px;
          object-fit: cover;
          margin: auto;
        }
      }
    }
    .card-content {
      color: rgba(#000, 0.85);
      height: auto;
      padding: 0 1.25em;
      h2 {
        font-size: 2em;
        letter-spacing: 0.015em;
        line-height: 1.15;
        text-transform: none;
        width: 82%;
        margin-top: 0.35em !important;
        padding-bottom: 0.2em !important;
      }
      p {
        margin: 0.65em 0.25em 1.25em;
      }
      .card-detail {
        width: 100%;
        margin: 2em 0 1em;
        .card-tags {
          display: inline-block;
          width: max-content;
          float: left;
          list-style: none;
          margin-left: 1%;
          margin-bottom: 0;
          padding: 0;
        }
        .card-date {
          display: inline-block;
          color: rgba(#000, 0.65);
          font-size: 0.8em;
          float: right;
          margin-right: 2%;
          padding-top: 5px;
          .fa-calendar-alt {
            position: relative;
            color: rgba(#000, 0.5);
            font-size: 1.25em;
            left: -6px;
          }
        }
      }
    }
    &.mailing-list {
      background: saturate(_palette(accent5, bg), 15%);
      text-align: center;
      border-radius: 3px;
      box-shadow: 1px 3px 1px 2px darken(_palette(accent5, bg), 9%), 0.5px 1px 6px rgba(#000, 0.3);
      margin-bottom: 1.25em;
      padding: 1.5em 1em;
      h4 {
        letter-spacing: 0.035em;
        line-height: 1;
        margin: 0.15em;
      }
      p {
        color: rgba(#fff, 0.85);
        margin-bottom: 1.25em;
      }
      .input-container {
        width: 70%;
        height: 2.15em;
        margin: 1em auto 0.5em;
        input {
          display: inline;
          background: rgba(#fff, 0.8) !important;
          width: 70%;
          height: 2.15em;
          border-radius: 5px;
          vertical-align: top;
          margin: 0 auto 1em;
          padding: 0.75em;
          &:active, &:focus {
            border: none !important;
            outline: none !important;
          }
        }
        .submit-button {
          display: inline;
          background: transparent !important;
          color: rgba(#fff, 0.9);
          font-size: 1em;
          font-weight: 500;
          line-height: 1;
          text-transform: none;
          width: 25%;
          height: 102%;
          vertical-align: middle;
          border: none;
          outline: none;
          box-shadow: inset 0 0 0 2px rgba(#fff, 0.9);
          margin-left: 0.5em; 
          padding: 0.45em;
          &:hover {
            background: rgba(#fff, 0.15) !important;
            color: #fff;
            box-shadow: inset 0 0 0 2px #fff;
            transition: all 350ms ease-in-out;
          }
        }
      }
    }
  }
}

.sidebar {
  display: inline-block;
  position: relative;
  color: rgba(#000, 0.75);
  width: 24vw;
  height: 100%;
  float: right;
  padding-top: 0.5em;
  .sidebar-block {
    background: saturate(_palette(accent5, bg), 15%);
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 3px 1px 2px darken(_palette(accent5, bg), 9%), 0.5px 1px 6px rgba(#000, 0.3);
    margin: 1.15em 0;
    padding: 0.85em;
    svg {
      display: inline-block;
      color: rgba(#fff, 0.85);
      font-size: 1.3em;
      margin-right: 8px;
    }
    h4 {
      display: inline-block;
      font-size: 1.3em;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0.01em;
      margin-bottom: 0;
    }
    p {
      color: rgba(#fff, 0.75);
      font-size: 0.9em;
      line-height: 1.25;
      margin-bottom: 0.75em;
    }
    input {
      background: rgba(#fff, 0.8) !important;
      height: 1.75em;
      padding: 0 0.65em;
      &:active, &:focus {
        border: none !important;
      }
    }
    button {
      font-size: 0.85em;
      font-weight: 500;
      height: 2.25em;
      margin-top: 0.85em;
      margin-left: 0.1em;
      padding: 0 1em;
    }
    &.style1 {
      background: darken(_palette(accent3, bg), 5%);
      box-shadow: 1px 3px 1px 2px darken(_palette(accent3, bg), 14%), 0.5px 1px 6px rgba(#000, 0.3);
    }
    &.style2 {
      background: saturate(_palette(accent5, bg), 15%);
      box-shadow: 1px 3px 1px 2px darken(_palette(accent5, bg), 9%), 0.5px 1px 6px rgba(#000, 0.3);
    }
    &.style3 {
      background: transparent;
      box-shadow: none;
    }
    &.sidebar-button {
      cursor: pointer !important;
    }
  }
  @include breakpoint(medium) {
    display: none;
  }
}
.subscribe-button {
  position: absolute;
  top: 11.5em;
  right: 7em;
  button {
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 40px;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 16px;
  }
}

.sidebar-block.search {
  padding: 1em 0.85em 0.75em 1em;
  svg {
    display: inline-block;
    color: rgba(#fff, 0.85);
    font-size: 1.3em;
    margin-right: 8px;
  }
  h4 {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}

.sidebar-tags {
  vertical-align: baseline;
  padding: 0.85em 0.05em !important;
  ul {
    text-align: left;
    width: 95%;
    margin: 0.5em auto 0;
    padding: 0;
  }
  li {
    text-align: center;
  }
}

.card-tag-item, .post-tag-item {
  background: rgba(#ebeaec, 0.95);
  font-size: 0.85em;
  border-radius: 4px;
  box-shadow: 0 1.5px 4px -2px rgba(#000, 0.4);
  margin-right: 3px;
  margin-bottom: 10px;
  padding: 2px 8px;
  transition: all 350ms ease-in-out;
  a {
    color: rgba(#000, 0.65);
  }
  &:hover {
    background: rgba(#e5e4e6, 0.9);
    color: rgba(#000, 0.8);
    box-shadow: 0 2px 5px -2px rgba(#000, 0.7) !important;
  }
}

.card-tag-item {
  margin-right: 5px;
}

.pagination {
  float: left;
  position: relative;
  left: 50%;
  margin: 8px auto 0;
  .page-links {
    position: relative;
    border: 1px solid #E7EAF1;
    border-radius: 3px;
    background-color: #fff;
    padding: 0 8px;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
    @include breakpoint(medium) {
      left: -50%;
    } 
  }
  .page-link {
    display: block;
    float: left;
    width: 34px;
    height: 34px;
    margin: 6px;
    font-size: 16px;
    color: #A9B0BC;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer; 
    &:hover {
      color: #8F98AA;
      background-color: #EEF0F4; 
    }
  }
  .active {
    color: #8F98AA;
    background-color: #EEF0F4; 
  }
  #page-link-container {
    display: inline-block;
    float: left; 
  }
}

/* Archive page */
#archive {
  width: 85vw;
  border: 0 !important;
  margin: 0 auto;
  padding: 3em 0 6em;
  .year {
    color: lighten(#30333b, 10%);
    font-size: 1.75em;
    font-weight: _font(ctrl-bold);
    letter-spacing: 0.05em;
    line-height: 1 !important;
    margin: 0.45em auto;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  .post-link {
    position: relative;
    top: 3px;
    white-space: nowrap !important;
    &:hover .title, &:active .title {
      color: saturate(darken(_palette(accent2, bg), 8%), 5%) !important;
      text-shadow: none !important; //0 0.5px 0.5px rgba(#000, 0.2);
    }
    .title {
      font-family: _font(hdr-family);
      font-size: _font(hdr-size-large);
      font-weight: _font(hdr-bold);
      letter-spacing: 0.03em;
      color: rgba(#000, 0.7) !important;
      padding-left: 4px;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      &:hover, &:active {
        color: darken(_palette(accent2, bg), 2%) !important;
        text-shadow: none !important;
      }
    }
  }

  hr {
    position: relative;
    border-top: 1px solid rgba(48,56,64,0.2);
    width: 95%;
    margin: 1em auto;
    opacity: 0.5;
    &:nth-child(2) {
      border-color: rgba(#000, 0);
    }
  }
}
.archive-post {
  color: rgba(#000, 0.8);
  font-family: _font(ctrl-family);
  font-size: _font(hdr-size-smaller);
  margin: 0 3em;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  .date-container {
    display: inline-flex;
    font-size: 18px;
    text-align: right;
    min-width: 65px;
    max-width: 65px;
    vertical-align: middle;
    margin: auto;
    .date {
      color: rgba(#000,0.55);
      font-family: _font(hdr-family);
      font-size: _font(hdr-size-xxsmall) !important;
      text-align: right;
      min-width: 100%;
      max-width: 100%;
      padding: 2px 8px 2px 0;
      border-right: 0.5px solid rgba(#000, 0.5);
    }
  }
}

@include breakpoint(small) {
  .archive-post {
    margin-left: 4.5vw;
    margin-right: 7.5vw;
  }
  .year {
    margin-left: 0.75em;
  }
}

body.is-mobile {
  #blog-wrapper #main > header {
    padding-top: 10vh;
    h1 {
      font-size: 20vw;
      text-align: left;
      top: 6.25vh;
      left: 0;
      width: 100%;
      padding: 0 5%;
    }
  }
  #blog {
    padding-top: 5vh; 
    .post-list > li {
      width: 80%;
      margin: 0.5em 10% !important;
    }
    .card-list .post-card {
      margin-right: 0 !important;
      margin-bottom: 3.5vh;
      .card-img-container a img {
        height: 25vh;
      }
      .card-content {
        h2 {
          width: 90%;
          margin-top: 0.5vh;
        }
      }
      .card-detail {
        margin-top: 1.75vh;
      }
    }
  }
  #archive {
    padding: 1.25em 0.5em 6em;
    .archive-post {
      margin: 0 1em;
      .date-container {
        font-size: 14px;
      }
      .post-link .title {
        font-size: 1em;
      }
    }
  }
}
