

#developer {
  padding: 0 !important;
  #four {
    background-image: -webkit-linear-gradient(to bottom, rgba(#000, 0.5), rgba(#000, 0.5)), url("/assets/img/dev.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1.75em !important;
  }
}

.webp #developer #four {
  background-image: -webkit-linear-gradient(to bottom, rgba(#000, 0.5), rgba(#000, 0.5)), url("/assets/img/dev.webp");
}

#about {
  background: _palette(bg);
  padding: 3em 0 9em;
  .major {
    margin-bottom: 1em;
  }
}

#dev {
  font-family: _font(ctrl-family);
  font-size: _font(hdr-size-small);
  line-height: _font(prose-lheight-normal);
  color: _palette(accent1, fg);
  max-width: 70%;
  margin: auto;
  margin-bottom: 2.25em;
  padding-bottom: 0;
}

#dev_gallery {
  position: relative;
  // padding-top: 3em;
  padding-bottom: 0;
  box-shadow: 0 2px 12px rgba(#000, 0.3);
  z-index: 10;
}

#projects {
  position: relative;
  padding: 0;
  .inner {
    padding-top: 2em;
  }
  h3 {
    font-family: _font(hdr-family);
    font-size: 4.75vw;
    font-weight: _font(hdr-extrabold);
    line-height: 1.25;
    letter-spacing: 0.05em;
    text-transform: none;
    color: tint(#585E89, 90%); // Tint is a mix of color with white
    width: 100%;
    text-align: left;
    border-color: rgba(#000, 0);
    margin: 0 0 0.45em 0;
    padding-bottom: 0;
  }
  p {
    font-family: _font(ctrl-family);
    font-size: 1.5vw;
    letter-spacing: 0.05em;
    line-height: 1.55;
    color: _palette(accent5, fg);
    text-align: left;
    margin: 0 0 1em 0.5em;
  }
  .button.bottom {
    text-align: center;
    margin: 3.5em 0;
    padding: 0 15px 4px;
    &.content {
      text-align: left;
      > a > span {
        width: 100%;
      }
    }
    > span {
      position: relative;
      top: 0.5px;
      left: -3px;
      &::before {
        font-family: 'Font Awesome 5 Solid';
        font-size: 1.8em;
        content: '\f09b';
        margin: 0.5em 0.5em 0 0.5em;
      }
    }
    > a {
      position: relative;
      top: -1.75px;
      left: -9px;
      text-align: left;
    }
  }
  > header {
    > section > div.content > div {
      text-align: left !important;
      > iframe {
        margin-right: 0.75em !important;
      }
    }
  }

  .spotlight {
    width: 100%;
    margin: auto;
    .content {
      padding: 1em 2em;
    }
    &:nth-child(2n) {
      box-shadow: none;
    }
    &:nth-child(2n+1) {
      // box-shadow: inset 0 0 18px 0px rgba(#000, 0.5);
    }
  }
  .icon {
    font-family: "IconFont";
    > span:before {
      background-color: darken(_palette(accent5, bg), 6%);
      color: transparent;
      text-shadow: 0px 1px 1.5px rgba(#fff, 0.3);
      -background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
    }
    > a {
      &::before {
        background-color: darken(_palette(accent5, bg), 6%);
        color: transparent;
        text-shadow: 0px 1px 1.5px rgba(#fff, 0.3);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }
    }
    @include breakpoint(small) {
      width: 100%;
      .content {
        h3 {
          font-size: 8vw;
          text-align: center;
        }
        p {
          font-size: 2.5vw;
          text-align: center;
          margin: 0 0 1em;
        }
        .github-buttons {
          margin: 2em auto 1.75em;
        }
      }
    }
  }
  .github-buttons {
    text-align: center !important;
    width: 100%;
    margin: 1.85em auto 0;
    iframe {
      width: 95px !important;
      height: 50px !important;
    }
    .octicon.octicon-cloud-download::before {
      font-size: 2.3em;
      margin-top: 2px;
    }
    .button i::before {
      color: #9FA3C1 !important;
    }
    .count {
      position: relative;
      left: 2.25em;
      margin-left: 0 !important;
    }
  }
}

#dev_skills {
  display: inline-block;
  // position: absolute;
  width: 100%;
  h2 {
    color: _palette(fg-bold);
    line-height: _font(hdr-lheight-large);
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    &::after {
      background-color: _palette(border-bg);
      height: 2px;
    }
  }

  p {
    display: inline-block;
    font-family: _font(ctrl-family);
    font-size: _font(hdr-size-small);
    line-height: _font(prose-lheight-small);
    color: _palette(fg);
    text-align: left;
    float: left;
    margin: 2em 2em 1.5em 2.5em;
  }

  > div > header {
    margin: 0 0 0 0;
  }
}

#dev-calendar {
  margin-top: 2em;
  padding-bottom: 1em;
  h2 {
    display: none;
  }

  .float-left.text-gray {
    font-size: 0;
  }

  .calendar {
    width: 100%;
    min-height: 100px;
    border: none !important;
  }

  .contrib-column {
    display: none;
  }

  .calendar-graph text.wday {
    margin-right: .05em
  }

  .calendar-graph text.wday,
  .calendar-graph text.month {
    font-size: 10px;
    fill: _palette(accent1, fg);
  }

  .contrib-number {
    display: block;
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    color: _palette(bg);
  }

  .contrib-legend {
    display: none;
  }

  > div > div.mb-5.border.border-gray-dark.rounded-1.py-2 > div.js-calendar-graph.is-graph-loading.graph-canvas.calendar-graph.height-full > svg > g > g:nth-child(n) > rect:nth-child(n) {
    opacity: 0.85;
  }
}
