.post-content {
  background: #fcfcfc;
  transition: opacity 350ms ease-in-out;
  opacity: 1;
  #header h1 {
    display: none;
  }
  .post {
    .post-image {
      position: relative;
      background-position: center !important;
      background-size: cover !important;
      background-attachment: fixed;
      height: 38vh;
      width: 100%;
      top: 0;
      z-index: -1;
      overflow: hidden;
      &.fullhead {
        height: 100vh;
        margin-bottom: 2vw;
      }
      .post-meta {
        display: table;
        position: absolute;
        background-size: cover !important;
        font-family: _font(ctrl-family);
        top: 0;
        width: 85%;
        height: 100%;
        margin: 0 7.5%;
        padding: 12vh 0 3.5vh;
        z-index: _misc(z-index-base) * 0.09;
        &.fullhead {
          position: absolute;
          width: 75%;
          height: 30%;
          top: 12vw;
          right: 5%;
          left: 5%;
          box-shadow: none;
          .scroll-btn {
            top: 59vh;
            left: 49%;
          }
          .scroll-arrow {
            text-align: center;
            width: 90%;
            margin: 9vw auto 0;
          }
        }
      }
      .post-title {
        // display: none;
        color: rgba(#fff, 0.9);
        font-size: 9vmin;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0;
        line-height: 1.2;
        text-align: center;
        text-shadow: 0 1px 12px rgba(#000, 0.25), 0 0 1px rgba(#000, 0.5);
        vertical-align: middle;
        max-width: 85%;
        margin: 0 auto;
      }
    }
    .post-wrapper {
      box-shadow: 0 -14px 28px -10px rgba(#000, 0.5);
    }
  }
}

.post-header {
  width: 80%;
  margin: auto;
  padding: 3em 0 0.5em;
  &::after {
    display: block;
    position: relative;
    background: _palette(accent2, bg);
    content: "";
    height: 4px;
    width: 25%;
    top: -10px;
    left: 6px;
  }
  .post-title {
    position: relative;
    color: rgba(#000, 0.75);
    font-size: 6.35vw;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: left;
    text-shadow: none;
    width: 80%;
    vertical-align: middle;
    margin: 0 auto 0 0;
  }
  .date-container {
    display: block;
    position: relative;
    color: rgba(#000,0.65);
    font-size: 18px;
    letter-spacing: 0;
    text-align: right;
    line-height: 1.6;
    top: -3px;
    right: 8px;
    .date, strong, svg {
      color: rgba(#000, 0.75);
    }
    .ico-svg {
      position: relative;
      color: rgba(#000, 0.25);
      top: -3px;
      left: 2px;
      width: 18px;
      height: auto;
      vertical-align: middle;
    }
  }
}

.written-content {
  color: rgba(#000, 0.85);
  font-size: 17.5px;
  line-height: 1.4;
  width: 80%;
  margin: auto;
  padding: 2em;
  h1, h2, h3, h4, h5, h6 {
    color: rgba(#000,0.95);
    letter-spacing: -0.5px;
    text-transform: none;
    margin-top: 1em;
    &.bordered {
      border-bottom: 1px solid #e0e0e0;
    }
  }
  h2 {
    line-height: 1.5;
    margin-bottom: 0.25em;
  }
  h4 {
    font-size: 1.5em;
    line-height: 1.5;
  }
  
  p {
    margin-bottom: 1.15em;
  }
  
  a {
    color: _palette(link);
    transition: color 350ms ease-in-out;
    &:hover, &:active {
      color: _palette(link-hover);
    }
    > * {
      color: darken(_palette(link), 3%) !important;
      transition: color 350ms ease-in-out;
      &:hover, &:active {
        color: _palette(link-hover) !important;
      }
    }
  }
  
  ul {
    line-height: 1.6;
    margin-bottom: 1.5em;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin: 1em auto;
    &.emoji, &.inline {
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0;
    }
  }
  
  em {
    font-style: italic;
    letter-spacing: 0.025em;
  }
  
  hr {
    width: 98%;
    margin: 1.5em auto 1.75em;
  }
  
  pre.highlight { 
    font-family: _font(fixed-family);
    font-size: _font(fixed-size);
    -webkit-overflow-scrolling: touch;
    margin: 0;
    code {
      display: block;
      background-color: hsl(270, 4%, 21%);
      color: hsl(270, 9%, 89%);
      font-family: _font(fixed-family) !important;
      font-size: 0.95em;
      letter-spacing: normal;
      line-height: _font(fixed-lheight);
      font-variant-ligatures: normal;
      font-feature-settings: "calt" 1;
      font-smoothing: antialiased !important;
      text-rendering: optimizeLegibility;
      text-transform: none;
      width: 95%;
      border-radius: 8px;
      margin: auto;
      margin: 0 auto 0 1.5%;
      padding: 1em 1.25em 1em 1.15em;
      white-space: pre-wrap;
      overflow: hidden;
    }
    .clipboard {
      display: inline-block;
      position: relative;
      right: 2.75em;
      bottom: 3.45em;
      width: 20px;
      height: auto;
      float: right;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      opacity: 0.2;
    }
    &:hover .clipboard {
      opacity: 0.7;
    }
  }
  
  .highlighter-rouge {
    margin-bottom: 1.25em; 
    &.code-block {
      margin: 1.5em 0 !important;
      code {
        letter-spacing: 0.02em;
        padding: 1.15em 1.4em 1.65em 1.25em;
      }
      .clipboard {
        right: 5%;
        bottom: 3.25em;
      }
    }
  }
  
  .clipboard:hover, .clipboard:active {
    opacity: 0.9 !important;
  }
  code.highlighter-rouge {
    background: #e9e8eb;
    color: rgba(#000, 0.8) !important;
    font-size: _font(fixed-inline-size);
    border-radius: 3px;
    box-shadow: none;
    padding: 0.1em 0.3em 0.25em;
  }
  
  blockquote {
    background: transparent;
    quotes: "“""”""‘""’  ";
    width: 90%;
    border: 0;
    border-radius: 4px;
    margin: 2.5em auto !important;
    padding: 0;
    &::before, &::after {
      display: block;
      position: relative;
      color: #878787;
      font-family: sans-serif !important;
      font-size: 6.25em;
      line-height: 0.075em;
      text-shadow: none;
    }
    &::before {
      content: open-quote;
      top: 0.25em;
      left: 0;
      float: left;
      margin: 0 0.075em 0 0;
    }
    &::after {
      content: close-quote;
      top: 0.25em;
      right: 0;
      float: right;
      vertical-align: -0.6em;
      margin-left: 0.175em !important;
    }
    p {
      display: flex;
      background: rgba(#686B6D, 0.05);
      font-size: 0.95em;
      line-height: 1.35;
      width: 95% !important;
      border-radius: 4px;
      box-shadow: 0 1px 5px rgba(#000, 0.25);
      margin: 0 auto !important;
      padding: 0.75em 1.4em 1em !important;
    }
  }
  
  table {
    max-width: 90%;
    border-right: 1px solid rgba(#000, 0.25);
    border-bottom: 1px solid rgba(#000, 0.25);
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    margin-left: 20px;
    th, td {
      font-size: 0.95em;
      border: 1px solid rgba(#000, 0.25);
      border-right: none;
      border-bottom: none;
      code {
        background: none;
      }
    }
    th {
      color: rgba(#000, 0.75);
      font-size: 1em;
      padding: 0.75em;
    }
    td {
      padding: 0.5em 0.75em;
    }
    thead tr {
      background: rgba(#000, 0.015);
    }
    tbody tr {
      background: rgba(#000, 0.015);
      font-size: 0.95em;
      border-color: rgba(#000, 0.25); 
      &:nth-child(odd) {
        background: rgba(#000, 0.04);
      }
    }
    code {
      border: 1px inset rgba(#000, 0.05);
    }
  }
  
  .button {
    display: flex !important;
    position: relative;
    color: rgba(#fff, 0.85) !important;
    font-weight: 700;
    letter-spacing: 0.055em;
    line-height: 2.25;
    text-align: center;
    justify-content: center !important;
    margin-top: 3.25em !important;
    &.bottom {
      line-height: 2.85;
      width: 30%;
      margin: 5em auto 1em !important;
      @include breakpoint(small) {
        width: 65%;
      }
    }
    &::before {
      margin-right: 8px;
    }
    &:hover, &:active {
      color: rgba(#fff, 0.95) !important;
    }
    a {
      color: rgba(#fff, 0.85) !important;
      &:hover, &:active {
        color: rgba(#fff, 0.95) !important;
      }
    }
  }
  
  br {
    display: block !important;
    content: "" !important;
    line-height: 20px !important;
    margin-top: 15px !important;
  }
}

.readme-content {
  .post-title {
    font-size: 2.5em;
    line-height: 0.75;
    margin-bottom: 0.1em;
  }
  h1, h2 {
    position: relative;
    left: -5px;
  }
  h2 {
    font-size: 2em;
    border-bottom: 1px solid rgba(#000,0.1);
    margin-bottom: 0.5em
  }
  h3 {
    font-size: 1.45em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
}

.h-note, .h-tip, .h-tldr, .h-warning {
  color: rgba(#000, 0.85);
  font-size: 0.9em !important;
  letter-spacing: 0.035em;
  line-height: 1.4 !important;
  text-shadow: none;
  width: 90%;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 6px;
  box-shadow: 0.5px 1px 6px rgba(#000, 0.25);
  margin: 1.5em 5em 2.5em 2em !important;
  padding: 6px 20px 15px;
  overflow: hidden;
  &::before {
    display: block;
    color: rgba(#000, 0.7);
    font-family: _font(hdr-family);
    font-size: 1.25em;
    font-weight: _font(prose-extrabold);
    letter-spacing: 0.035em;
    line-height: _font(ctrl-lheight-smaller);
    text-shadow: none;
    margin-left: -3px;
    padding-top: 2px;
    padding-bottom: 5px;
  }
  p {
    line-height: 1.4 !important;
    margin-bottom: 0.15em !important;
  }
  code {
    background: rgba(#000, 0.075) !important;
  }
  @media(max-width: 767px) {
    margin: 25px 0;
  }
}

.h-note {
  background: rgba(3,169,244,0.05);
  border-left-color: rgba(#03A9F4,0.75);
  &::before {
    content: 'Note:';
  }
}

.h-tip {
  background: rgba(76,175,80,0.075);
  border-left-color: rgba(#4CAF50,0.75);
  &::before {
    content: 'Tip:';
  }
}

.h-tldr {
  background: rgba(#000, 0.035);
  border-left-color: rgba(#000, 0.45);
  &::before {
    content: 'tldr;';
    font-size: 1.5em;
    margin-left: -2px;
  }
}

.h-warning {
  background: rgba(255,153,0,0.075);
  border-left-color: rgba(#FCAB08,0.75);
  &::before {
    content: 'Warning:';
    letter-spacing: 0.045em;
  }
}

#back-to-top {
  position: fixed;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  right: 4vw;
  bottom: 8vh;
  border: 0;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  z-index: _misc(z-index-base) * 5;
  cursor: pointer;
  &.show {
    opacity: 0.2 !important;
    &:hover, &:active {
      opacity: 0.6 !important;
    }
  }
  img {
    width: 45px !important;
    height: 45px !important;
    box-shadow: none !important;
  }
}

.back-post {
  position: relative;
  color: rgba(#fff, 0.75);
  font-size: 32px;
  min-width: 40px;
  top: -0.75em;
  left: 0.55em;
  z-index: 999999;
  span {
    display: none;
    position: relative;
    color: rgba(#fff, 0.7);
    font-size: 19px;
    top: -4px;
    left: 12px;
  }
  svg {
    height: 0.9em;
  }
  &:hover, &:active {
    color: rgba(#fff, 0.9);
    span {
      display: inline-block !important;
    }
  }
}

.badges {
  text-align: right;
  margin-bottom: 0;
  img {
    display: inline-block;
    // float: right;
    margin: 0;
    padding: 0 1px;
  }
}

.tooltipster-sidetip.tooltipster-default.tooltipster-default-customized {
  .tooltipster-box {
  	background: #535155;
  	border: 1px outset #737175;
  	border-radius: 6px;
  	box-shadow: 5px 5px 2px 0 rgba(#000,0.4);
  }
  .tooltipster-content {
  	color: rgba(#fff, 0.9);
  	padding: 8px;
  }
}

.tooltipster-sidetip.tooltipster-default.tooltipster-default-customized .tooltipster-content {
	color: blue;
	padding: 8px;
}

// Share buttons
.share-button {
  position: relative;
  background: #eee;
  font-size: 1.8em;
  text-align: center;
  width: 40px;
  height: 40px;
  left: 2.5em;
  border-radius: 100%;
  user-select: none;
  box-shadow: 0 1px 3px rgba(#000, 0.5);
  vertical-align: middle;
  transition: all 300ms ease-in-out;
  margin-top: 0.5em;
  margin-left: -75px;
  overflow: hidden;
  &.open {
    width: 195px;
    height: 45px;
    left: calc(50% - 60px);
    border-radius: 25px;
    box-shadow: inset 0 0 5px rgba(#000, 0.5);
  }
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    box-sizing: content-box;
    transform: translate(0,0);
    border-radius: 50px;
    z-index: 3;
    pointer-events: none;
  }
  &:hover, &:active {
    .lid svg {
      color: saturate(lighten(_palette(accent2, bg), 8%), 12%);
    }
  }
}
.lid {
  position: absolute;
  background: #fff;
  color: #444;
  line-height: 2.5;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: 300ms ease all;
  transform-origin: 0 0;
  cursor: default;
  z-index: 4;
  svg {
    position: relative;
    color: rgba(#000, 0.65);
    font-size: 0.75em;
    top: -21px;
    left: -1.5px;
    transition: all 300ms;
  }
}
.open .lid {
  transform: rotateX(90deg);
}
.thank-you {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
  top: -100px;
  left: 0;
  transition: 300ms ease all;
}
.thankyou .thank-you {
  position: absolute;
  top: 0px;
}
.share-item {
  display: block;
  line-height: 30px;  
  text-align: center;
  text-decoration: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  box-shadow: 0 1px 0 rgba(#000, 0.1);
  transition: 500ms ease all;
  margin-left: 3px;
  svg {
    position: relative;
    color: rgba(#fff, 0.9) !important;
    font-size: 0.55em;
    top: -3px;
    &:hover {
      color: rgba(#fff, 0.95) !important;
    }
  }
  &.facebook {
    background: #3B5998;
    box-shadow: 0 1.5px 0 1px darken(#3B5998, 10%);
  }
  &.twitter {
    background: #1DA1F2;
    box-shadow: 0 1.5px 0 1px darken(#1DA1F2, 8%);
  }
  &.google-plus {
    background: #DB4437;
    box-shadow: 0 1.5px 0 1px darken(#DB4437, 10%);
  }
  &.linkedin {
    background: #0077B5;
    box-shadow: 0 1.5px 0 1px darken(#0077B5, 8%);
    svg {
      top: -3px;
    }
  }
  &.pinterest {
    background: #BD081C;
    box-shadow: 0 1.5px 0 1px darken(#BD081C, 8%);
  }
  &.tumblr {
    background: #35465C;
    box-shadow: 0 1.5px 0 1px darken(#35465C, 10%);
    svg {
      left: -1px;
    }
  }
  &.reddit {
    background: #EB5528;
    box-shadow: 0 1.5px 0 1px darken(#EB5528, 8%);
    svg {
      left: -1px;
    }
  }
  &.pocket {
    background: #DB505B;
    box-shadow: 0 1.5px 0 1px darken(#DB505B, 10%);
  }
  &.wordpress {
    background: #464646;
    box-shadow: 0 1.5px 0 1px darken(#464646, 8%);
  }
  &.email {
    background: #87C058;
    box-shadow: 0 1.5px 0 1px darken(#87C058, 8%);
  }
}
.share-item:active {
  // background: #eb4c89;
  transition: 50ms ease all;
}
.share-item:nth-child(1) {
  transform: translateX(200px) rotate(180deg);
}
.share-item:nth-child(2) {
  transform: translateX(400px) rotate(200deg);
}
.share-item:nth-child(3) {
  transform: translateX(580px) rotate(220deg);
}
.share-item:nth-child(4) {
  transform: translateX(740px) rotate(240deg);
}
.share-item:nth-child(5) {
  transform: translateX(880px) rotate(260deg);
}
.share-item:nth-child(6) {
  transform: translateX(1000px) rotate(280deg);
}
.open .share-item {
  transform: translateX(0) rotate(0);  
  margin-left: 6px;
}
.share-items {
  position: absolute;
  width: 215px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5px 0;
  cursor: pointer;
}
.share-items-wrapper {
  position: absolute;
  top: 1px;
  left: 0;
  height: 100%;  
  width: 215px;
  left: 62%;
  margin-left: -117px;
}
.shared .share-item {
  transform: translateY(200px);
}
.shared .share-item:nth-child(1) {
  transition: 200ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(2) {
  transition: 600ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(3) {
  transition: 1000ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(4) {
  transition: 1400ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(5) {
  transition: 1800ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(6) {
  transition: 2200ms cubic-bezier(.32,-0.22,.9,.93) all;
}

// Disqus styling
.disqus-container {
  width: 80%;
  // max-width: 720px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.post-tags-container {
  display: flex;
  width: 95%;
  border-top: 1px solid rgba(#000, 0.1);
  margin: 2em 0.5em 0;
  padding-top: 1.25em;
  .post-tags {
    display: inline;
    margin-bottom: 1em;
    padding-left: 2px;
    .post-tag-item {
      // background: rgba(#ebeaec, 0.95);
      // font-size: 0.85em;
      // border-radius: 4px;
      // box-shadow: 0 1.5px 4px -2px rgba(#000, 0.4);
      // margin-right: 3px;
      // margin-bottom: 10px;
      // padding: 2px 8px;
      // transition: all 350ms ease-in-out;
      a {
        color: rgba(#000, 0.65);
        &:hover {
          color: rgba(#000, 0.8);
        }
      }
    //   &:hover {
    //     // box-shadow: 0 2px 5px -2px rgba(#000, 0.7) !important;
    //     box-shadow: 0 2px 5px -2px rgba(0,0,0,.5), 1px 2px 6px 0px rgba(0,0,0,0.2) !important;
    //   }
    }
  }
  span {
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.125em 0.5em 0 0;
  }
}

.post-closer {
  font-family: _font(ctrl-family);
  width: 100%;
  margin: 0 0 1em;
  padding: 2em 0 1em;
  float: left;
  .isLeft {
    display: inline-block;
    max-width: 65%;
    margin: 0 -1em;
    float: left;
  }
  .isRight {
    display: inline-block;
    min-width: 267px;
    max-width: 35%;
    margin: 16px -3.5em 0 0;
    float: right;
    transition: all 300ms ease;
  }
  @include respond-to(800) {
    width: 100%;
    padding-bottom: 32px;
  }
  .index-headline {
    padding-bottom: 8px;
  }
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
  .author-image, .author-info {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
  }
  .author-image {
    background-size: cover;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    margin-left: 0;
  }
  h4, h5 {
    color: _palette(bg);
    font-size: 1.5em;
    font-weight: _font(prose-extrabold);
    text-transform: capitalize;
    letter-spacing: 0.02em;
    line-height: 0.65;
    margin: 6px 0 0 0;
    padding: 0 0 0 10px;
  }
  h5 {
    font-size: 1.25em;
    font-weight: _font(prose-bold);
    text-transform: capitalize;
    letter-spacing: 0.025em;
    line-height: 0.65;
    margin-top: 5px;
    margin-bottom: 0.6em;
    padding: 0;
  }
  p {
    font-size: 14px;
    font-weight: _font(normal);
    line-height: 1.5;
    margin: 0;
    padding: 1px 0 0 13px;
    &.sub {
      font-size: 12.5px;
      color: rgba(#000, 0.85);
    }
  }
  hr {
    display: block;
    background: none;
    width: 25vw;
    border: 0px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 10px 0 4px 10px;
    padding: 0;
  }
}

.PageNavigation {
  display: block;
  font-size: 15px;
  width: 80%;
  margin: 2em auto 3em;
  overflow: hidden;
  a {
    display: block;
    color: rgba(#000, 0.8);
    width: 40%;
    float: left;
    margin: 1em 5%;
    &:hover, &:active {
      color: _palette(link-hover);
      border: none;
      .fa-chevron-left, .fa-chevron-right {
        color: rgba(#000, 0.8);
      }
    }
  }
  .prev {
    &:hover {
      transform: translateX(-10px);
    }
  }
  .next {
    text-align: right;
    &:hover {
      transform: translateX(10px);
    }
  }
}

body.is-mobile {
  .post-image {
    height: 34vmax !important;
    .post-title {
      display: table-cell !important;
    }
  }
  .post-header {
    width: 85%;
    padding-top: 4.5vh;
    h1 {
      font-size: 12vw;
      width: 90%;
    }
    .date-container {
      font-size: 4vw;
      top: 0;
      right: -5vw;
    }
  }
  // #header.dark .back-post
  .back-post {
    font-size: 28px;
    top: -2.5vh !important;
  }
  .written-content {
    font-size: 4vw;
    line-height: 1.45;
    width: 100%;
    padding-top: 0;
    pre.highlight {
      code {
        font-size: 3.5vw;
        overflow: scroll;
      }
      .clipboard {
        right: 6vw;
        bottom: 13vw;
      }
    }
    pre[class*=language-] {
      padding: 0;
    }
    .code-block {
      margin-bottom: 0;
      .clipboard {
        right: 7%;
      }
    }
    .h-tip, .h-note, .h-tldr, .h-warning {
      width: 100%;
      margin-top: 0;
      margin-left: 0 !important;
    }
  }
  .readme-content {
    .post-title {
      font-size: 10vw;
      line-height: 1;
      margin-top: 10vh;
      margin-bottom: 0;
    }
    > hr {
      margin: 2vh auto 4vh;
    }
  }
  .post-closer {
    .isLeft {
      width: 95%;
      float: none;
    }
    .isRight {
      float: none;
      margin-top: 0;
      h5 {
        display: none;
      }
    }
    .author-image {
      width: 20vw;
      height: 20vw;
    }
    .author-info {
      width: 70vw;
      padding-top: 1.5vh;
    }
    .lid svg {
      font-size: 3.75vh;
      top: -2vh;
      left: 0;
    }
    .share-item.svg {
      font-size: 2.5vh;
    }
  }
  #back-to-top {
    display: none;
  }
  .PageNavigation a {
    width: 85%;
    margin: 1em 0;
  }
}
