@import 'layout';

.contact-success, .contact-failed {
  .wrapper {
    background: _palette(accent1, bg);
    min-height: 40vh !important;
    padding: 5em 0;
    .button {
      padding: 0 3em;
    }
  }
}

.contact-wrapper {
  display: flex;
  // background: linear-gradient(45deg, rgba(_palette(accent2, bg), 0.5), rgba(darken(_palette(accent3, bg),25%), 0.5));
  background: rgba(#000, 0.45);
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4em;
    letter-spacing: 1px;
    text-shadow: 0 0 9px rgba(#000,0.5);
    margin: 0.75em auto 0.5em;
  }
  .form-container {
    background: #fafafa;
    width: 75%;
    height: 95%;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(#000, 0.6);
    margin: 1em auto 6em;
    padding: 1.5em 4em;
    h3 {
      color: rgba(#000, 0.7);
      font-size: 2em;
      letter-spacing: 0;
      text-align: center;
      text-transform: none;
      margin-bottom: 0;
    }
    .wrapper {
      background: #fafafa;
    }
    form .row.uniform {
      margin: 0;
      &:first-child {
        padding-top: 18px;
      }
    }
    .input-wrapper {
      position: relative;
      background: #fafafa;
      border-bottom: none !important;
      margin-bottom: 10px;
      padding-left: 3px;
    }
    .textarea-wrapper {
      margin-top: 0.75em;
    }
    input[type='text'], input[type='email'] {
      width: 85%;
    }
    input[type='text'], input[type='email'], textarea {
      color: #555;
      line-height: 1.2;
      text-shadow: none;
      width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      &:active, &:focus {
        outline-offset: -2px;
      }
    }
    .focus-input {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      overflow: hidden;
      &::before {
        display: block;
        position: absolute;
        background: #adadad;
        content: "";
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;
        transition: all 400ms;
      }
      &::after {
        display: block;
        position: absolute;
        color: #888;
        content: attr(data-placeholder);
        font-size: 13px;
        line-height: 1.2;
        width: 100%;
        top: 0;
        transition: all 400ms;
      }
    }
    input[type='text'], input[type='email'], textarea { 
      background: transparent !important;
      + .focus-input::after {
        top: 40px;
        left: 1px !important;
      }
      &:focus {
        + .focus-input::before {
          background: linear-gradient(45deg, rgba(_palette(accent2, bg), 0.75), rgba(darken(_palette(accent3, bg), 15%), 0.75));
        }
        + .focus-input::after {
          color: #555;
          top: 13px;
          left: 1px;
        }
      }
    }
    textarea:focus + .focus-input::before {
      background: linear-gradient(45deg, rgba(_palette(accent2, bg), 0.75), rgba(darken(_palette(accent3, bg), 15%), 0.75));
    }
    textarea {
      + .focus-input::after {
        top: 20px;
        left: 1px;
      }
      &:focus {
        + .focus-input::before {
          background: linear-gradient(45deg, rgba(_palette(accent2, bg), 0.75), rgba(darken(_palette(accent3, bg), 15%), 0.75)) !important;
        }
        + .focus-input::after {
          color: #555;
          top: 5px;
          left: 1px;
        }
      }
    }
  }
}

.contact-submit {
  margin: 1.5em 35% 2em;
  padding: 2em 0 0  !important;
}

body.is-mobile {
  .contact-wrapper {
    padding-bottom: 1.5vh;
    h1 {
      font-size: 13vw;
      margin-top: 10vh;
    }
    .form-container {
      width: 90%;
      padding: 3vh 5vh;
      h3 {
        font-size: 3.5vh;
      }
    }
    .contact-submit {
      width: 75%;
      margin: 2vh 12%;
      input {
        height: 7.5vh;
        width: 100%;
      }
    }
  }
}

.g-recaptcha {
  display: none;
}
