@import 'libs/mixins';
@import 'libs/skel';
@import 'libs/breakpoints';


#banner {
  display: flex;
  position: relative;
  height: 108vh;
  min-height: 35em;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 18px rgba(#000, 0.2), inset 0 -100px 200px rgba(#201E1F, 0.95);
  cursor: default;
  overflow: hidden;
  .inner {
    position: relative;
    top: -10.5vh !important;
  }
  h1 {
    display: inline-block;
    position: relative;
    color: rgba(#fff, 0.925);
    font-family: 'Gotham HTF', 'Avenir Next', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10vw;
    font-weight: 800;
    letter-spacing: 0.04em;
    line-height: 1;
    text-transform: none;
    text-shadow: 0 2px 15px rgba(#000, 0.85);
    transform: scale(1);
    transition: transform 500ms ease, opacity 500ms ease;
    padding: 0 9.5vw 2vw 5.5vw;
    margin: 0;
    opacity: 0.95;
    .accent {
      font-family: 'Open Sans', 'Avenir Next', 'Helvetica Neue', sans-serif !important;
      color: #53BAB8;
      margin-left: -2px;
      margin-right: -5px;
    }
    @include breakpoint(xlarge) {
      font-size: 8.75vw;
      padding-top: 2vh;
    }
  }
  h3 {
    color: rgba(#fff, 0.75);
    font-family: 'Avenir Next', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.05vw;
    font-weight: 400;
    // letter-spacing: 0.1em;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 1vw 6vw;
    svg.fa-circle {
      fill: rgba(#fff, 0.25);
      width: 6px !important;
      top: 0.75px;
      margin: 0 9px 0 8px;
    }
  }

  &::after {
    display: block;
    position: absolute;
    background: darken(#1B1B1E, 10%);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 1s ease-in-out 250ms;
    opacity: 0;
  }

  @include breakpoint(small) {
    height: 75vh;
    min-height: 0;
    padding: 11em 0.55em 5em;
    .inner {
      top: -6.5vh;
    }
    h1 {
      width: 80%;
    }
    br {
      display: none;
    }
  }
}

.landing {
  &.alt {
    .menu-page-link {
      color: rgba(#fff, 0.8);
      font-size: 115%;
      font-weight: 500;
      text-shadow: 0 0.5px 3px  rgba(#000, 0.5);
      transition: all 250ms ease-in-out;
      &:hover, &:active {
        color: #fff;
        text-shadow: 0 0.5px 7px rgba(#000, 0.65);
      }
    }
  }
  .menu-toggle {
    span, span::before, span::after {
      background: #fff;
      transition: all 500ms ease-in-out;
    }
    &.active span {
      background: transparent;
      &::before, &::after {
        background-color: #fff;
      }
    }
  }
  #banner {
    @include vendor('background-image', ('linear-gradient(to bottom, rgba(10,10,13,0.35), rgba(10,10,13,0.35))', 'url("/../assets/img/banner.jpg")'));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body.is-loading {
  .page-wrapper {
    opacity: 0;
  }
  #banner {
    .inner {
      transform: scale(0.95);
      opacity: 0;
      &::before, &::after {
        width: 0;
      }
    }
    #header, .scroll-btn span {
      transform: scale(0.75);
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  &.designer, &.developer {
    *, *:before, *:after {
      transition: none !important;
      animation: none !important;
    }
  }
}

/* Header */
#header {
  position: absolute;
  height: 3.25em;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 3;
  transition: all 500ms ease;
  z-index: 999999 !important; // so 'X' appears above menu
  h1 {
    line-height: 1.9;
    text-transform: none;
    height: inherit;
    top: 0;
    left: 0.6em;
    transition: all 100ms ease-in-out;
    margin-top: 0.55em;
    &:hover {
      color: #DADEE2;
      transition: color 350ms ease-in-out;
    }
    a {
      display: inline-block;
      position: relative;
      height: inherit;
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 0.025em;
      line-height: inherit;
      // top: -3px;
      top: -0.25vw;
      border: 0;
      padding-left: 1.5vw;
      opacity: 0.9;
      .header-logo {
        position: relative;
        top: -5px;
        left: 2px;
        width: 30px;
        transform: scale(1);
        transition: transform 500ms linear 100ms, opacity 750ms ease-in-out;
        opacity: 0.8;
      }
      span {
        display: none;
        padding-top: 3px;
        padding-left: 14px;
        vertical-align: top;
      }
      &:hover, &:active {
        color: rgba(#fff, 0.95);
        opacity: 1;
        .header-logo {
          transform: scale(1.1);
          transition: transform 500ms linear 100ms, opacity 750ms ease-in-out;
          opacity: 0.95;
        }
        span {
          display: inline-block; 
          position: relative;
          top: -14px;
          // transition: all 100ms ease-in-out;
        }
      }
    }
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    line-height: inherit;
    transform: matrix(1,0,0,1,0,0);
    transition: transform 500ms ease;
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      > li {
        display: inline-block;
        padding: 0;
        > a {
          display: block;
          color: #fff;
          font-size: 0.8em;
          letter-spacing: 0.225em;
          border: 0;
          padding: 1.75em 1.3em 0 0;
          margin-right: 1em;
          text-transform: uppercase;
          transition: opacity 200ms ease;
          opacity: 0.75;
          &:hover, &:active {
            transition: opacity 200ms ease;
            opacity: 0.95;
          }
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &.landing {
    background: linear-gradient(to bottom, lighten(#1B1B1E, 4.5%), lighten(#1B1B1E, 0.5%));
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 4px rgba(#000, 0.4);
    .menu-page-link:hover {
      color: rgba(#fff, 0.975);
    }
    h1 {
      .header-logo {
        top: -15px;
        width: 28px;
      }
      a:hover, a:active {
        span {
          display: none;
        }
      }
    }
    &.alt {
      .landing-menu {
        padding: 6px 5px 10px 10px;
        ul {
          padding-right: 1.25em !important;
        }
        .menu-page-link {
          font-size: 115%;
          margin-left: 0.75em;
          padding: 0 0 0.5em 0;
          a {
            color: rgba(#fff, 0.9);
          }
        }
      }
    }
  }
  &.readme {
    margin-top: 5px;
    h1 {
      color: #1B1B1E;
      a:hover, a:active {
        color: lighten(#1B1B1E, 25%);
      }
    }
    .menu-toggle {
      span, span::before, span::after {
        background-color: rgba(#000, 0.6);
      }
      &.active {
        span::before, span::after {
          background-color: #fff;
        }
      }
    }
  }
  &.alt {
    position: absolute !important;
    background: transparent !important;
    box-shadow: none !important;
    transition: all 500ms ease;
    h1 {
      pointer-events: none;
      opacity: 0;
    }
  }
  &.post {
    background: transparent;
    transition: background-color 250ms ease;
    h1 {
      pointer-events: none;
      opacity: 0;
    }
    #nav > ul > li > a {
      &::after {
        color: #1B1B1E;
      }
      &:hover, &:active {
        &::after {
          color: #F8F7FA;
        }
        span {
          color: #1B1B1E;
        }
      }
    }
  }
}

.menu-toggle {
  position: relative;
  display: flex;
  width: 35px;
  height: 35px;
  right: -0.1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  padding: 3.5vw 0 0;
  outline: 0;
  transition: all 600ms ease-in-out;
  z-index: 10002;
  span, span::before, span::after {
    position: absolute;
    display: block;
    background: #fff;
    content: "";
    width: 75%;
    height: 3px;
    border-radius: 100px;
    transition: all 400ms ease;
  }
  span {
    width: 75%;
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }
  &.active {
    position: fixed !important;
    transform: translate(9px, -30px);
    transition: transform 1s linear;
    z-index: 9999999 !important;
    span {
      background-color: transparent;
      &::before {
        background: rgba(#fff, 0.75);
        transform-origin: center;
        transform: rotate(-45deg);
        top: 0;
      }
      &::after {
        background: rgba(#fff, 0.75);
        transform-origin: center;
        transform: rotate(45deg);
        bottom: 0;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &:hover {
    transform: scale(5px);
  }
}

#menu-alt {
  .menu-page-link {
    display: inline-block;
    background: transparent !important;
    font-size: 110%;
    font-weight: 400;
    line-height: 0.75;
    text-transform: capitalize;
    a {
      color: rgba(#fff, 0.85) !important;
      &::after {
        display: block;
        content: '';
        border-top: 10px solid rgba(#fff,0);
        border-bottom: 3px solid darken(#53BAB8, 3%);
        transition: transform 350ms ease-in-out;
        transform: scale3d(0,1,1);
        transform-origin: bottom left;
      }
      &:hover, &:active {
        color: rgba(#fff, 0.975) !important;
        text-shadow: 0 1px 2px rgba(#000, 0.4);
        &::after {
          transform: scale3d(1,1,1);
        }
      }
    }
  }
}
