@import 'libs/mixins';
@import 'libs/skel';
@import 'libs/keyframes';
@import 'libs/breakpoints';

#banner {
  display: flex;
  position: relative;
  height: 108vh;
  min-height: 35em;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 18px rgba(#000, 0.2), inset 0 -100px 200px rgba(#201E1F, 0.95);
  cursor: default;
  overflow: hidden;
  .inner {
    position: relative;
    top: -10.5vh !important;
  }
  h1 {
    display: inline-block;
    position: relative;
    color: rgba(#fff, 0.925);
    font-family: 'Gotham HTF', 'Avenir Next', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10vw;
    font-weight: 800;
    letter-spacing: 0.04em;
    line-height: 1;
    text-transform: none;
    text-shadow: 0 2px 15px rgba(#000, 0.85);
    transform: scale(1);
    transition: transform 500ms ease, opacity 500ms ease;
    padding: 0 9.5vw 2.15vw 5.5vw;
    margin: 0;
    opacity: 0.95;
    .accent {
      font-family: 'Open Sans', 'Avenir Next', 'Helvetica Neue', sans-serif !important;
      color: #53BAB8;
      margin-left: -2px;
      margin-right: -5px;
    }
    @include breakpoint(xlarge) {
      font-size: 8.75vw;
      padding-top: 2vh;
    }
  }

  h3 {
    color: rgba(#fff, 0.75);
    font-family: 'Avenir Next', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.05vw;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 1vw 6vw;
    svg.fa-circle {
      fill: rgba(#fff, 0.25);
      width: 6px !important;
      top: 0.75px;
      margin: 0 9px 0 8px;
    }
  }

  &::after {
    display: block;
    position: absolute;
    background: darken(#1B1B1E, 10%);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 1s ease-in-out 250ms;
    opacity: 0;
  }

  @include breakpoint(small) {
    height: 75vh;
    min-height: 0;
    padding: 11em 0.55em 5em;
    .inner {
      top: -6.5vh;
    }
    h1 {
      width: 80%;
    }
    br {
      display: none;
    }
  }
  .scroll-btn {
    position: absolute;
    display: inline-block;
    color: transparent !important;
    text-align: center;
    top: 89vh;
    left: 49%;
    transition: all 250ms ease-in-out 25ms;
    z-index: 9999;
    span {
      position: absolute;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 3px solid rgba(#fff, 0.7);
      border-bottom: 3px solid rgba(#fff, 0.7);
      transform: rotate(-45deg);
      animation: press 2s infinite;
    }
    &:hover span {
      width: 25px;
      height: 25px;
      border-left: 4px solid rgba(#fff, 0.85);
      border-bottom: 4px solid rgba(#fff, 0.85);
      transition: all 400ms ease 50ms;
      animation: none;
    }
  }
}

.landing {
  &.alt {
    .menu-page-link {
      color: rgba(#fff, 0.8);
      font-size: 115%;
      font-weight: 500;
      text-shadow: 0 0.5px 3px  rgba(#000, 0.5);
      transition: all 250ms ease-in-out;
      &:hover, &:active {
        color: #fff;
        text-shadow: 0 0.5px 7px rgba(#000, 0.65);
      }
    }
  }
  .menu-toggle {
    span, span::before, span::after {
      background: #fff;
      transition: all 500ms ease-in-out;
    }
    &.active span {
      background: transparent;
      &::before, &::after {
        background-color: #fff;
      }
    }
  }
  #banner {
    @include vendor('background-image', ('linear-gradient(to bottom, rgba(10,10,13,0.35), rgba(10,10,13,0.35))', 'url("/../assets/img/banner.jpg")'));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body.is-loading {
  .page-wrapper {
    opacity: 0;
  }
  #banner {
    .inner {
      transform: scale(0.95);
      opacity: 0;
      &::before, &::after {
        width: 0;
      }
    }
    #header, .scroll-btn span {
      transform: scale(0.75);
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  &.designer, &.developer {
    *, *:before, *:after {
      transition: none !important;
      animation: none !important;
    }
  }
}
