<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body class="{{ page.title | slugify }} is-loading">
    <div id="{{ page.title | replace: " ", "-" | downcase }}-wrapper" class="page-wrapper">
        {% include header.html %}
        {% if page.header %}
          {{ content }}
        {% else %}
          <article {% if page.image %} id="main" {% elsif page.options contains 'minihead' %} id="minihead" {% else %} id="fullhead" {% endif %}>
            {% include header-inner.html %}
            {{ content }}
          </article>
        {% endif %}
      {% include footer.html %}
    </div>
  </body>
  <script>document.documentElement.classList.remove("no-js");</script>
  {% include scripts.html %}
</html>
