<!DOCTYPE html>

<html>

{% include head.html %}

<style>
  @font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.4.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
  .fa-bars:before{content:"\f0c9";}.fa-code:before{content:"\f121";}.fa-circle:before{content:"\f111"}.fa-github:before{content:"\f09b";}.fa-deviantart:before{content:"\f1bd";}.fa-headphones:before{content:"\f025"}.fa-laptop:before{content:"\f109"}.fa-twitter:before{content:"\f099"}.fa-linkedin-square:before{content:"\f08c"}.fa-envelope:before{content:"\f0e0"}
  /*@font-face{font-family:'IconFont';src:url('../fonts/iconfont/iconfont.eot?v=4.4.0');src:url('../fonts/iconfont/iconfont.eot?#iefix&v=4.4.0')format('embedded-opentype'),url('../fonts/iconfont/iconfont.woff?v=4.4.0') format('woff'),url('../fonts/iconfont/iconfont.ttf?v=4.4.0') format('truetype'),url('../fonts/iconfont/iconfont.svg?v=4.4.0#iconfont/iconfontregular') format('svg');font-weight:normal;font-style:normal}
  .icon-design-1:before{content: "\79";}*/
</style>

<body class="landing">
  <div id="page-wrapper">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
  </div>
  <noscript>
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/iconfont.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/vendor/disqus.css' | prepend: site.baseurl }}">
  </noscript>
</body>

</html>
