<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include post-meta.html %}
  {% include head.html %}
  {% include header.html %}
  <main class="post-content" role="main">
    <div class="{% if page.options contains 'readme' %}readme-post{% endif %} post">
      <a class="back-post" href="{{ '/blog' | prepend: site.baseurl }}"><i class="fa fa-chevron-left"></i><span class="animated fadeIn">Back to Blog</span></a>
      {% if page.options contains "fullhead" %}
        <section class="post-image fullhead">
          {% if page.image %}
            <div id="post-banner" alt="banner" style="background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(/assets/img/posts/{{ page.image | prepend: site.baseurl }});height:100vh;"></div>
          {% endif %}
          <div class="post-meta fullhead">
            <h1 class="post-title">{{ page.title }}</h1>
            <!-- <a class="scroll-btn scrolly animated fadeInUp" href="#top"><span></span>Scroll</a> -->
            <!-- <div class="scroll-arrow">
              <a href="#content" class="more scrolly"><i class="fa fa-angle-down"></i></a>
            </div> -->
          </div>
          <a class="scroll-btn scrolly animated fadeInUp" href="#content"><span></span>Scroll</a>
        </section>
      {% elsif page.options contains "nohead" %}
        <section class="nopostimage">
          <!-- <div class="post-meta"> -->
            <h1 class="post-title">{{ page.title }}</h1>
          <!-- </div> -->
        </section>
      {% elsif page.options contains "readme" %}
        <section class="readme-header"></section>
      {% else %}
        <section class="post-image" style="{% if page.image %} background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(/assets/img/posts/{{ page.image | prepend: site.baseurl }}); {% endif %}">
          <div class="post-meta" style="{% if page.image %} background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(/assets/img/posts/{{ page.image | prepend: site.baseurl }}); {% endif %}">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </section>
      {% endif %}
      {% if page.options contains "readme" %}
        <section class="readme-content written-content">
          <a name="top"></a>
          {% if page.header %}
            <img src="{{ page.header }}"/>
          {% else %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          {% if page.preview %}<img id="preview" src="{{ page.preview }}" alt="Preview" target="_blank" rel="noopener"/>{% endif %}
          <br>
          {{ content }}
          <a href="#" id="back-to-top" title="Back to Top"><img src="/assets/css/img/top-arrow.png" alt="Back to Top"/></a>
        </section>
      {% else %}
        <div class="post-wrapper">
          <section id="content" class="written-content">
            <a name="top"></a>
            <!-- <div class="date-container"><span class="date"><strong>{{ page.date | date: "%d" }}</strong>&nbsp;{{ page.date | date: "%b" }}</span>
            <svg class="ico-svg" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><use xlink:href="/assets/img/sprite-icons.svg#calendar" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></div> -->
            {{ content }}
            <a href="#" id="back-to-top" title="Back to Top"><img src="/assets/css/img/top-arrow.png" alt="Back to Top"/></a>
            <div class="post-closer cf">
              <section class="author">
                <div class="author-image" alt="avatar" style="background-image: url({{ site.owner.avatar | prepend: site.baseurl }})"></div>
                <div class="author-info">
                  <h4>{{ site.owner.name }}</h4>
                  {% if author.bio %}<p class="bio">{{ author.bio }}</p>{% endif %}
                  <hr>
                  <p class="sub published">Published <time datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
                  {% if page.update %}
                    <p class="sub updated">Last updated <time datetime="{{ page.update | date: "%F %R" }}">{{ page.update | date: "%B %d, %Y" }}</time></p>
                  {% endif %}
                </div>
              </section>
            </div>
            {% include share-buttons.html %}
          </section>
        </div>
      {% endif %}
      {% if site.disqus %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = '{{ site.disqus }}'; // required: replace example with your forum shortname
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
  </main>
  {% include scripts.html %}
  {% include footer.html %}
</html>
