<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include head.html %}
  {% include post-meta }
  <body class="post-content" role="main">
    {% include header.html %}
    <div class="{% if page.options contains 'readme' %}readme-post{% endif %} post">
      <a class="back-post" href="{{ '/blog' | prepend: site.baseurl }}"><i class="fa fa-chevron-left"></i><span class="animated fadeIn">Back to Blog</span></a>
      {% if page.options contains "fullhead" %}
        <section class="post-image fullhead">
          {% if page.image %}
            <div id="post-banner" alt="banner" style="background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(/assets/img/posts/{{ page.image | prepend: site.baseurl }});height:100vh;"></div>
          {% endif %}
          <div class="post-meta fullhead">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
          <a class="scroll-btn scrolly animated fadeInUp" href="#content"><span></span>Scroll</a>
        </section>
      {% elsif page.options contains "nohead" %}
        <section class="nopostimage">
          <h1 class="post-title">{{ page.title }}</h1>
        </section>
      {% elsif page.options contains "readme" %}
        <section class="readme-header"></section>
      {% else %}
        <section class="post-image" style="{% if page.image %} background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url({{ page.image | prepend: '/assets/img/posts/' | prepend: site.baseurl }}); {% endif %}">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </section>
      {% endif %}
      {% if page.options contains "readme" %}
        <section class="readme-content written-content">
          <a name="top"></a>
          {% if page.header %}
            <img src="{{ page.header }}" alt="{{ page.title }}"/>
          {% endif %}
          <br>
          <h1 class="post-title">{{ page.title }}</h1>
          <hr>
          {{ content }}
          <a href="#" id="back-to-top" title="Back to Top"><img src="/assets/img/top-arrow.png" alt="Back to Top"/></a>
        </section>
      {% else %}
        <div class="post-wrapper">
          <div class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="date-container">
              <span class="date"><strong style="margin-right:-2px">{{ page.date | date: "%d" }}</strong>&nbsp;{{ page.date | date: "%b" }}&nbsp;<strong>{{ page.date | date: "%Y" }}</strong></span>
              <svg class="ico-svg" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><use xlink:href="/assets/img/sprite-icons.svg#calendar" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
            </div>
          </div>
          <section id="content" class="written-content">
            <a name="top"></a>
            {{ content }}
            <a href="#" id="back-to-top" title="Back to Top"><img src="/assets/img/top-arrow.png" alt="Back to Top"/></a>
            <!-- Emojicom -->
            <!-- <div id="emojicom-widget-inline" class="emojicom-panel"></div> -->
            <!-- Tags -->
            <div class="post-tags-container">
              <span>Tags:</span> 
              <ul class="post-tags inline">
              {% for tag in page.tags %}
                {% assign tag_id = tag | prepend: "#" | append: "-tag" | slugify %}
                <li class="post-tag-item"><a href="{{ tag_id | prepend: '/tags/#' | prepend: site.baseurl }}">{{ tag }}</a></li>
              {% endfor %}
              </ul>
            </div>
            <!-- Closer -->
            <div class="post-closer cf">
              <div class="isLeft">
                <section class="author">
                  <div class="author-image" alt="avatar" style="background-image: url({{ site.owner.avatar | prepend: site.baseurl }})"></div>
                  <div class="author-info">
                    <h4>{{ site.owner.name }}</h4>
                    {% if author.bio %}<p class="bio">{{ author.bio }}</p>{% endif %}
                    <hr>
                    <p class="sub published">Published <time datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
                    {% if page.update %}
                      <p class="sub updated">Last updated <time datetime="{{ page.update | date: "%F %R" }}">{{ page.update | date: "%b %d, %Y" }}</time></p>
                    {% endif %}
                  </div>
                </section>
              </div>
              <div class="isRight">
                <h5>Share this post</h5>
                {% include share-buttons.html %}
              </div>
            </div>
          </section>
        </div>
        <div class="PageNavigation">
          {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">
              <span class="fas fa-chevron-left"></span> &nbsp;{{page.previous.title}}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}}&nbsp; <span class="fas fa-chevron-right"></span></a>
          {% endif %}
        </div>
      {% endif %}
      <!-- Start emojicom.io widget -->
      <!-- <script>window.EMOJICOM_WIDGET = { campaign: "tY5WQeGoy1Yyf79dPGA4" };</script>
      <script src="https://cdn.emojicom.io/embed/widget.js" async></script> -->
      <!-- End emojicom.io widget -->
      {% if site.disqus %}
        <div id="disqus_thread" class="disqus-container"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = '{{ site.disqus }}'; // required: replace example with your forum shortname
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
  </body>
  <script>document.documentElement.classList.remove("no-js");</script>
  {% include scripts.html %}
  {% include footer.html %}
</html>
